*.DS_Store
*.pyc
apache
venv-*
.venv*
sample-site
needs-push
repo-*
.env
ga_config.json
.idea
*.iml
apache

hosts.txt
.sass-cache
app.log

node_modules
bower_components
static/javascript

# vim-related
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
.vimrc
*~

# TernJS
.tern-project