# Required for a directory where bizarro can stash state files.
RUNNING_STATE_DIR="."

# Optional directory names for Git repositories.
# REPO_PATH="{Bare repository directory path}"
# WORK_PATH="{Working directory path}"

# Optional domain name for use by Browser ID.
# BROWSERID_URL="{Browser ID domain name}"

# Optional URL to authorization CSV.
# AUTH_CSV_URL="{CSV export URL, usually Google spreadsheet}"

# Required for Google Analytics setup.
GA_CLIENT_ID="{Google OAuth client ID}"
GA_CLIENT_SECRET="{Google OAuth client secret}"
GA_REDIRECT_URI="http://127.0.0.1:5000/callback"

# Optional for setup-script.py Google Docs preparation.
GDOCS_CLIENT_ID="{Google OAuth client ID}"
GDOCS_CLIENT_SECRET="{Google OAuth client secret}"

# Optional for setup-script.py Github repository preparation.
GITHUB_CLIENT_ID="{Github OAuth client ID}"
GITHUB_CLIENT_SECRET="{Github OAuth client secret}"

# Optional URL base for live running website.
LIVE_SITE_URL="http://127.0.0.1:5001/"