<div class="row activity-bar">
  <div class="activity-bar__info row__left">
    {% set itemvalues = branch.split('/') %}
    {% set name = itemvalues[0] %}
    {% set task = itemvalues[1] %}

    <p class="activity-bar__title"><b>Current Activity:</b> {% if task_description %}{{task_description | title }}{% elif task %}{{task | title }}{% else %}{{name | title }}{% endif %}{% if task_beneficiary %} for {{task_beneficiary | title }}{% endif %}</p>
  </div>
  <div class="activity-bar__actions row__right toolbar--right">
        {% if needs_peer_review and not eligible_peer %}
        <form action="/update" method="POST" class="toolbar__item">
          <input name="branch" value="{{branch}}" type="hidden" />
          <a href="mailto:?to=&amp;subject={{review_subject|urlencode}}&amp;body={{review_body|urlencode}}" class="button button--orange">Request Feedback</a>
        </form>    

        {% elif is_peer_approved and eligible_peer %}
        <form action="/update" method="POST" class="toolbar__item">
          <input name="branch" value="{{branch}}" type="hidden" />
          <button name="action" value="merge" type="submit" class="button button--blue">Publish</button>
        </form>    
        

        {% elif needs_peer_review and eligible_peer %}
        <!-- Reviewer options -->
        <form action="/review" method="POST" class="toolbar--right">
          <input name="branch" value="{{branch}}" type="hidden" />
          <button name="action" value="approve" type="submit" class="toolbar__item button button--green">Give Feedback</button>
        </form>    


    {% endif %}
  </div>
</div>