{% extends "base_new.html" %}

{% set breadcrumb_items = [{'name': 'Activites', 'url': '/'}] %}

{% block title %}Activity Overview{% endblock %}

{% block body_class %}activity-overview{% endblock %}

{% block content %}

<div class="activity-overview__container col__flex">
	<div class="activity-overview__main">
			<p class="activity-overview__subtitle">Activity Overview</p>
			<h1 class="activity-overview__header">{{ activity.task_description | title }} For {{ activity.task_beneficiary | title }}</h1>
			<div class="toolbar--left">
				<a href="{{ task_root_path }}edit" class="button button--outline button--large toolbar__item">Continue working</a>
			</div>

			<p class="activity-overview__description">Below is a timeline of all of the work and discussion around this activity. Any work you do will appear at the the bottom of this list.</p>

			<div class="activity-log">
				<div class="activity-log-item activity-log-item--info">
					<div class="activity-log-item__content">
						<p>This activity was created by {{ activity.author_email }}</p>
						<div class="activity-log-item__datetime">1{{ activity.date_created }}</div>
					</div>
				</div>

				<div class="activity-log-item activity-log-item--edit">
					<div class="activity-log-item__content">
						<p><a href="#">Parking Tickets</a> was created by sally@codeforamerica.</p>
						<div class="activity-log-item__datetime">19 hours ago</div>
					</div>	
				</div>

				
				<div class="activity-log-item activity-log-item--edit">
					<div class="activity-log-item__content">
						<p><a href="#">Parking Tickets</a> was edited by sally@codeforamerica.</p>
						<div class="activity-log-item__datetime">18 hours ago</div>
					</div>	
				</div>

				<div class="activity-log-item activity-log-item--edit">
					<div class="activity-log-item__content">
						<p><a href="#">Parking Tickets</a> was moved from ___ to ___ by sally@codeforamerica.</p>
						<div class="activity-log-item__datetime">18 hours ago</div>
					</div>	
				</div>

				<div class="activity-log-item activity-log-item--edit">
					<div class="activity-log-item__content">
						<p><a href="#">Parking Tickets</a> was deleted by sally@codeforamerica.</p>
						<div class="activity-log-item__datetime">18 hours ago</div>
					</div>	
				</div>

				<div class="activity-log-item activity-log-item--comment">
					<div class="comment">
						<div class="comment__author">sally@codeforamerica.org</div>
						<div class="comment__body">Added and fixed some articles. Please check!</div>
						<div class="comment__datetime">3 days ago</div>
					</div>
				</div>


				<div class="activity-log-item activity-log-item--comment">
					<div class="comment comment--new">
						<div class="comment__author">norris@codeforamerica.org</div>
						<div class="comment__body">
							<textarea class="comment__input" placeholder="{{ activity.last_editor }} is looking for feedback. Decide whether changes meet the user need and/or leave your comment here (optional)"></textarea>
						</div>
						<div class="row comment__actions">
							<div class="row__left"><input type="checkbox"><span class="text-green">Looks good!</span></div>
							<button href="#" class="row__right button">Submit</button>
						</div>
					</div>
				</div>

				<div class="activity-log-item activity-log-item--comment">
					<div class="comment comment--new">
						<div class="comment__author">norris@codeforamerica.org</div>
						<div class="comment__body">
							<textarea class="comment__input" placeholder="Leave your comment here (optional)"></textarea>
						</div>
						<div class="row comment__actions">
							<div class="row__left"><input type="checkbox"><span class="text-orange">Request Feedback</span></div>
							<button href="#" class="row__right button">Submit</button>
						</div>
					</div>
				</div>

				<div class="activity-log-item activity-log-item--comment">
					<div class="comment comment--new">
						<div class="comment__author">norris@codeforamerica.org</div>
						<div class="comment__body">
							<textarea class="comment__input" placeholder="Leave your comment here (optional)"></textarea>
						</div>
						<div class="row comment__actions">
							<div class="row__left"><input type="checkbox"><span class="text-blue">Publish to Site</span></div>
							<button href="#" class="row__right button">Submit</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



{% endblock %}