{% extends "base_new.html" %}
{% block title %}Activities{% endblock %}
{% block body_class %}activities-list{% endblock %}
{% block content %}
    <div class="activities-list__main grid col__flex">
      <div class="current-tasks grid__item width-two-thirds">
        <h2 class="current-tasks__title">Current Activities</h2>
        {% if items | length == 0 %}

          <p class="current-tasks__empty-description">Doesn't look like anyone's working on anything at the moment. You should hop to it!</p>
        {% else %}
          <p class="current-tasks__description">Work that's already underway by you and your colleagues.</p>
          <ul class="current-tasks__list">
          {% for item in items %}
           <li class="current-task">
            <p class="current-task__title"><a href="/tree/{{item.path}}/edit/">{{item.task_description}}{% if item.task_beneficiary %} for {{item.task_beneficiary}}{% endif %}</a> <!--({{item.ahead|count}} ahead, {{item.behind|count}} behind)--></p>
            <div class="current-task__details row">
              <p class="current-task__author row__left">{{item.author_email}}</p>
              <div class="current-task__actions row__right toolbar--right">
                <form action="/merge" method="POST">
                  <a class="button-edit button toolbar__item" href="/tree/{{item.path}}/edit/">Continue</a>
                  
                  {% if item.needs_peer_review %}
                    <a href="mailto:?to=&amp;subject={{item.review_subject|urlencode}}&amp;body={{item.review_body|urlencode}}" class="button-review button toolbar__item">Submit for review</a>
                  {% endif %}
                  
                  {% if item.is_peer_approved %}
                    <button name="action" value="merge" type="submit" class="button button-publish toolbar__item">Publish</button>
                  {% endif %}

                    <button name="action" value="abandon" type="submit" class="button button--red toolbar__item">Delete</button>
                    <input type="hidden" name="branch" value="{{item.name}}">
                  </form>
                </div>
              </div>
            </li>
          {% endfor %}
         {% endif %}
        </table>
        </div>
        <div class="new-task grid__item width-one-third end-row">
          <h2 class="new-task__title">Start a new activity</h2>
          <p class="new-task__description">Describe the new activity in terms of a user need.</p>
          <form action="/start" method="POST" class="new-task__form">
            <p>I am<input name="task_description" placeholder="clarifying the permitting application process" type="text" class="need" /> for <input type="text" name="task_beneficiary" placeholder="business owners" /></p>
            <p><button type="submit" class="create button button--green">Let's go!</button></p>
          </form>  
        </div>
    </div>
{% endblock %}

