{% extends "base_new.html" %}

{% block body_class %}articles-list{% endblock %}

{% set breadcrumb_items = [{'name': 'Activites', 'url': '/'}] %}

{% block title %}Browse{% endblock %}

{% block content %}

<div class="articles-list__main grid col__flex">
    {% for column in dir_columns %}
    {% if loop.index != 1 %}
    <div class="dir grid__item width-one-fourth">
      {% if loop.index == 2 %}
      <h2>Categories</h2>
      <div class="selection-box box-add-file-folder">
        <form action="." method="POST" class="form-one-line">
            <input class="form-one-line__input" name="path" placeholder="category name" type="text" />
            <input name="create_what" value="category" type="hidden" />
            <input name="create_path" value="{{column['path']}}" type="hidden" />
            <input class="form-one-line__submit button" name="action" type="submit" value="Create" />
        </form>
      </div>
      {% elif loop.index == 3 %}
      <h2>Subcategories</h2>
      <div class="selection-box box-add-file-folder">
        <form action="." method="POST" class="form-one-line">
            <input class="form-one-line__input" name="path" placeholder="subcategory name" type="text" />
            <input name="create_what" value="category" type="hidden" />
            <input name="create_path" value="{{column['path']}}" type="hidden" />
            <input class="form-one-line__submit button" name="action" type="submit" value="Create" />
        </form>
      </div>
      {% elif loop.index == 4 %}
      <h2>Articles</h2>
      <div class="selection-box box-add-file-folder">
        <form action="." method="POST" class="form-one-line">
            <input class="form-one-line__input" name="path" placeholder="article name" type="text" />
            <input name="create_what" value="article" type="hidden" />
            <input name="create_path" value="{{column['path']}}" type="hidden" />
            <input class="form-one-line__submit button" name="action" type="submit" value="Create" />
        </form>
      </div>
      {% endif %}
      <ul class="dir__listing">
      {% for file in column['files'] %}
         <li class="dir-item row {% if file['selected'] == True %}is-selected{% endif %}">
            <a class="dir-item__name {{file['display_type']}} row__left" href="{{file['edit_path']}}">{% if file['display_type'] == "article" %}<span class="fa fa-file-text-o"></span>{% elif file['display_type'] == "category" %}<span class="fa fa-folder-o"></span>{% else %}{% endif %}{{ file['name']  | title | replace('-', ' ') }}</a>
            <div class="dir-item__actions toolbar--right row__right">
              <a href="#"><span class="fa fa-pencil"></span></a>
            </div>
          </li>
      {% endfor %}   
      </ul>
    </div>
    {% endif %}
    {% endfor %}
</div>

<div class="row taskbar {% if not eligible_peer %} taskbar--working {% else %} taskbar--reviewing {% endif %}">
  <div class="taskbar__info row__left">
    {% set itemvalues = branch.split('/') %}
    {% set name = itemvalues[0] %}
    {% set task = itemvalues[1] %}

    <p class="taskbar__task"><b>Currently {% if not eligible_peer %}working to{% else %} reviewing activity{% endif %}:</b> {% if task_description %}{{task_description}}{% elif task %}{{task}}{% else %}{{name}}{% endif %}{% if task_beneficiary %} for {{task_beneficiary}}{% endif %}</p>
  </div>
  <div class="taskbar__actions row__right toolbar--right">
        <!-- testing to get some buttons... this next line should be  if needs_peer_review and not eligible_peer -->
        {% if needs_peer_review and not eligible_peer %}
        <form action="/merge" method="POST" class="toolbar__item">
          <input name="branch" value="{{branch}}" type="hidden" />
          <a href="mailto:?to=&amp;subject={{review_subject|urlencode}}&amp;body={{review_body|urlencode}}" class="button button--white">Submit for review</a>
        </form>    

        {% elif is_peer_approved and eligible_peer %}
        <form action="/merge" method="POST" class="toolbar__item">
          <input name="branch" value="{{branch}}" type="hidden" />
          <button name="action" value="merge" type="submit" class="button button--white">Publish</button>
        </form>    

        {% elif is_peer_rejected and eligible_peer %}

        <div class="toolbar__item taskbar__feedback dropdown">
            See Feedback
            <div class="dropdown__popup dropdown__popup--right">
              <p>{{rejection_message}}<br>— {{rejecting_peer}}</p>
            </div>
        </div>

        <form action="/merge" method="POST" class="toolbar__item">
          <input name="branch" value="{{branch}}" type="hidden" />
          <a href="mailto:?to=&amp;subject={{review_subject|urlencode}}&amp;body={{review_body|urlencode}}" class="button button--white">Resubmit for review</a>
        </form>    
        

    {% elif needs_peer_review and eligible_peer %}
    <!-- Reviewer options -->
    <form action="/review" method="POST" class="toolbar--right">
      <input name="branch" value="{{branch}}" type="hidden" />
      <a class="toolbar__item button button--white text-red" href="/tree/{{safe_branch}}/review">Request Fixes</a>
      <button name="action" value="approve" type="submit" class="toolbar__item button button--white text-green">Approve</button>
    </form>    

    {% else %}

      Needs review? {{ needs_peer_review }}.
      Is approved? {{ is_peer_approved }}.
      Is rejected? {{ is_peer_rejected }}.
      Eligible peer? {{ eligible_peer }}.

    {% endif %}

    {% if rejection_messages %}

    <h5>All feedback</h5>
    <ul>
      {% for (email, message) in rejection_messages %}
      <li>{{message}}<br>— {{email}}</li>
      {% endfor %}
    </ul>

    {% endif %}
  </div>
</div>


{% endblock %}

