{% extends "base_new.html" %}

{% block body_class %}articles-list{% endblock %}

{% set breadcrumb_items = [{'name': 'Activites', 'url': '/'}] %}

{% block title %}Browse{% endblock %}

{% block content %}

<div class="row taskbar {% if not eligible_peer %} taskbar--working {% else %} taskbar--reviewing {% endif %}">
  <div class="taskbar__info row__left">
    {% set itemvalues = branch.split('/') %}
    {% set name = itemvalues[0] %}
    {% set task = itemvalues[1] %}

    <p class="taskbar__task"><b>Currently {% if not eligible_peer %}working to{% else %} reviewing activity{% endif %}:</b> {% if task_description %}{{task_description}}{% elif task %}{{task}}{% else %}{{name}}{% endif %}{% if task_beneficiary %} for {{task_beneficiary}}{% endif %}</p>
  </div>
  <div class="taskbar__actions row__right">
        <!-- testing to get some buttons... this next line should be  if needs_peer_review and not eligible_peer -->
        {% if needs_peer_review and not eligible_peer %}
        <form action="/merge" method="POST">
          <input name="branch" value="{{branch}}" type="hidden" />
          <a href="mailto:?to=&amp;subject={{review_subject|urlencode}}&amp;body={{review_body|urlencode}}" class="button button--white">Submit for review</a>
          <!--button name="action" value="merge" type="submit" class="button-alternative" disabled>Publish (awaiting review)</button-->
        </form>    

        {% elif is_peer_approved and eligible_peer %}
        <form action="/merge" method="POST">
          <input name="branch" value="{{branch}}" type="hidden" />
          <button name="action" value="merge" type="submit" class="button button--white">Publish</button>
        </form>    

        {% elif is_peer_rejected and eligible_peer %}

        <nav class="dropdown">
            <p>See Feedback<p>
            <div class="dropdown__popup">
              <p>{{rejection_message}}<br>— {{rejecting_peer}}</p>
            </div>
        </nav>
        
      <!--
      <form action="/merge" method="POST">
          <input name="branch" value="{{branch}}" type="hidden" />
          <button name="action" value="merge" type="submit" class="button-alternative">Publish</button>
      </form>    
    -->

    {% elif needs_peer_review and eligible_peer %}
    <!-- Reviewer options -->
    <form action="/review" method="POST" class="toolbar--right">
      <input name="branch" value="{{branch}}" type="hidden" />
      <a class="toolbar__item button button--white text-red" href="/tree/{{safe_branch}}/review">Request Fixes</a>
      <button name="action" value="approve" type="submit" class="toolbar__item button button--white text-green">Approve</button>
    </form>    

    {% else %}

      Make some changes!

    {% endif %}

    {% if rejection_messages %}

    <h5>All feedback</h5>
    <ul>
      {% for (email, message) in rejection_messages %}
      <li>{{message}}<br>— {{email}}</li>
      {% endfor %}
    </ul>

    {% endif %}
  </div>
</div>

<div class="articles-list__main grid col__flex">
    {% for dir in dir_columns %}
    {% if loop.index != 1 %}
    {% if dir[0].display_type %}
    <div class="dir grid__item width-one-fourth">
      {% if loop.index == 2 %}
      <h2>Categories</h2>
      <div class="selection-box box-add-file-folder">
        <form action="." method="POST" class="form-one-line">
            <input class="form-one-line__input" name="path" placeholder="category name" type="text" />
            <input class="form-one-line__submit button" name="action" type="submit" value="Add Category" />
        </form>
      </div>
      {% elif loop.index == 3 %}
      <h2>Subcategories</h2>
      <div class="selection-box box-add-file-folder">
        <form action="." method="POST" class="form-one-line">
            <input class="form-one-line__input" name="path" placeholder="subcategory name" type="text" />
            <input class="form-one-line__submit button" name="action" type="submit" value="Add Category" />
        </form>
      </div>
      {% endif %}
        <ul class="dir__listing">
          {% for file in dir %}
          <li class="dir-item row {% if file['selected'] == True %}is-selected{% endif %}">
            <a class="dir-item__name row__left" href="{{file['edit_path']}}"><span class="fa fa-folder-o"></span>{{file['name'] | title | replace('-', ' ') }}</a>
            <div class="dir-item__actions toolbar--right row__right">
              <a href="#"><span class="fa fa-pencil"></span></a>
            </div>
          </li>
          {% endfor %}  
        </ul>

    </div>
    {% endif %}
    {% endif %}
    {% endfor %}
    <div class="{% if dir_columns | length == 3 %} articles width-one-half {% else %} dir width-one-fourth {% endif %} grid__item  end-row">
      {% if dir_columns | length == 3 %}
      <h2>Articles</h2>
      <div class="selection-box box-add-file-folder">
        <form action="." method="POST" class="form-one-line">
            <input class="form-one-line__input" name="path" placeholder="article name" type="text" />
            <input class="form-one-line__submit button" name="action" type="submit" value="Add Article" />
        </form>
      </div>
      {% elif dir_columns | length == 2 %}
      <h2>Subcategories</h2>
      <div class="selection-box box-add-file-folder">
        <form action="." method="POST" class="form-one-line">
            <input class="form-one-line__input" name="path" placeholder="subcategory name" type="text" />
            <input class="form-one-line__submit button" name="action" type="submit" value="Add Category" />
        </form>
      </div>
      {% elif dir_columns | length == 1 %}
      <h2>Categories</h2>
      <div class="selection-box box-add-file-folder">
        <form action="." method="POST" class="form-one-line">
            <input class="form-one-line__input" name="path" placeholder="category name" type="text" />
            <input class="form-one-line__submit button" name="action" type="submit" value="Add Category" />
        </form>
      </div>
      {% endif %}
       <ul class="dir__listing">
        {% for (edit_path, view_path, item_type, is_editable, modified_date) in list_paths %}
           <li class="dir-item row">
              <a class="dir-item__name {{item_type}} row__left" href="{{edit_path}}">{% if item_type == "article" %}<span class="fa fa-file-text-o"></span>{% elif item_type == "category" %}<span class="fa fa-folder-o"></span>{% else %}{% endif %}{{ edit_path  | title | replace('-', ' ') }}</a>
              <div class="dir-item__actions toolbar--right row__right">
                <a href="#"><span class="fa fa-pencil"></span></a>
              </div>
            </li>
        {% endfor %}   
       </ul>
    </div>
</div>

{% endblock %}

