{% extends "base.html" %}
{% block title %}Setup{% endblock %}
{% block content %}


<div class="analytics-setup row row--main grid col__flex">
    <div class="analytics-setup__content grid__item width-one-half">
        <h1>Connect your Google Analytics account</h1>
        <p>Connecting your Google Analytics account to Chime will enable your editors to see how their content is performing.</p>
        <p>To enable this feature, you simply need access to the <a href="https://www.google.com/analytics/">Google Analytics</a> account for your site and then click through these steps:</p>
        </ul>
        <h2>1. Connect To Google</h2>
        {% if properties %}
        <div class="alert">
            <p>You are connected to Google{% if name or google_email %} as <b>{{ name }}{% if google_email %} ({{ google_email }}){% endif %}</b>{% endif %}.</p>
            <form method="POST" action="/authorize">
                <p>To use a different account:</p>
                <p><button id="authorize-button" class="button button--blue button--large">Switch Google Accounts</button></p>
            </form>
        </div>



        {% else %}
        <div class="alert">
            <form method="POST" action="/authorize">
                <p>If you have more than one Google account, make sure to pick the one you have associated with your site's Analytics account</p>
                <p><button id="authorize-button" class="button button--blue button--large">Connect to Google</button></p>
            </form>
        </div>

        {% endif %}

        {% if properties %}
        <form action="/authorization-complete" method="POST">
            <h2>2. Pick a property</h2>
            <div class="alert">
                <p><select name="property">
                    {% for (id, name, url) in properties %}
                    <option value="{{ id }}">{{ name }} ({{ url }})</option>
                    {% endfor %}
                </select></p>
                <p class="note">If you have more than one property associated with your account, select the one that corresponds to your site.</p>
                <p><strong>Finish linking to Google Analytics</strong></p>
                <input type="hidden" name="name" value="{{ name }}">
                <input type="hidden" name="google_email" value="{{ google_email }}">
                {% for (id, name, url) in properties %}
                <input type="hidden" name="{{ id }}-domain" value="{{ url }}">
                <input type="hidden" name="{{ id }}-name" value="{{ name }}">
                {% endfor %}
                <p><button class="button button--green button--large">Finish Setup</button></p>
            </div>
        </form>
        {% endif %}
    </div>    
</div>
{% endblock %}
