<!DOCTYPE html>
<html lang="en-us">
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" type="text/css" href="//cloud.webtype.com/css/944a7551-9b08-4f0a-8767-e0f83db4a16b.css" />
        <link rel="stylesheet" href="http://style.codeforamerica.org/style/css/main.css">
        <link rel="stylesheet" href="http://style.codeforamerica.org/style/css/layout.css" media="all and (min-width: 40em)">
        <link href="http://style.codeforamerica.org/style/css/prism.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" media="screen" href="/static/javascript/toopaymarkdown/css/bootstrap-markdown.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        {% if config.get('ACCEPTANCE_TEST_MODE', False) %}
        <script src="/static/javascript/stubbyid.js"></script>
        {% else %}
        <script src="https://login.persona.org/include.js"></script>
        {% endif %}
        <script type="text/javascript">
          var currentUser = {{email|tojson|safe}};
        </script>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
        <title>{% block title %}{% endblock %} | Chime</title>
    </head>
    <body>
      
      <!-- header block -->
      <header>
        <h1><a href="/" class="logo"><img src="/static/images/chime-logo-small.png" alt="Chime"></a></h1>
        <nav>
          <ul class="nav">
            <li><a href="/">Activity</a></li>
            <li><a href="{{ live_site_url }}">Visit site</a></li>
            {% if (author_email and task_description) or branch %}
            <li class="active-task"><a href="{% if task_root_path %}{{task_root_path}}{% else %}./{% endif %}">{% if author_email and task_description %}{{author_email}}/<strong>{{task_description}}</strong>{% elif branch %}{{branch}}{% endif %}</a></li>
            {% endif %}
          </ul>
      </header>
     <!-- end header block -->



      <!-- feedback messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <div class="flash-holder">
              <ul class="flashes">
              {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
              {% endfor %}
              </ul>
            </div>
          {% endif %}
        {% endwith %}
     <!-- end feedback messages -->

     <!-- content -->
        {% block content %}{% endblock %}
     <!-- end content -->

     <!-- footer block -->
        <footer class="product-info">
            <p class="cfa">Created by <span><img src="/static/images/logo-black.png" alt="Code for America" height="40px" /></span></p>
            <div class="signout">
                  {% if email %}
                    <input type="button" id="signout" value="Sign out">
                  {% else %}
                 
                  {% endif %}
            </div>
        </footer>
      <!-- end footer block -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="/static/javascript/toopaymarkdown/js//bootstrap-markdown.js"></script>

    </body>

    <script type="text/javascript">
      var signinLink = document.getElementById('signin');
      if (signinLink) {
        var opts = {'siteName': 'Chime CMS', 'siteLogo': 'https://avatars3.githubusercontent.com/u/11183400?v=3&s=200', 'backgroundColor': '#EFE9D8'};
        signinLink.onclick = function() { navigator.id.request(opts); return false };
      }

      var signoutLink = document.getElementById('signout');
      if (signoutLink) {
        signoutLink.onclick = function() { navigator.id.logout(); return false };
      }
    </script>
</html>
