<!DOCTYPE html>
<!--[if lte IE 10]><html lang="en-us" class="lt-ie10"><![endif]-->
<!--[if gt IE 9]><!--><html lang="en-us"><!--<![endif]-->
<head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" media="screen" href="/static/javascript/toopaymarkdown/css/bootstrap-markdown.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <script src="https://login.persona.org/include.js"></script>
        <script type="text/javascript">
          var currentUser = {{email|tojson|safe}};
        </script>
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href="/static/stylesheets/main.css" rel="stylesheet" />
        <script src="{{ url_for('static', filename='script.js') }}"></script>
        <title>{% block title %}{% endblock %} | Chime</title>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        {% if activity %}
        <!-- branch: {{branch}} -->
        <!-- author: {% if activity.author_email %}{{activity.author_email}}{% else %}unknown{% endif %} -->
        {% endif %}
    </head>
    <body class="{% block body_class %}{% endblock %} col">

    {% block global_header %}
      {% from 'macros/macros.html' import globalHeader as globalHeader %}
      {{ globalHeader(breadcrumb_items = breadcrumb_items, email=email, branch=branch, activity=activity) }}
    {% endblock %}

    {% include 'includes/feedback-messages.html' %}

     <!-- content -->
        {% block content %}{% endblock %}
     <!-- end content -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="/static/javascript/toopaymarkdown/js//bootstrap-markdown.js"></script>

        <script src="/static/javascript/placeholders.min.js"></script>
    </body>

    <script type="text/javascript">
      var signinLink = document.getElementById('signin');
      if (signinLink) {
        var opts = {'siteName': 'Chime CMS', 'siteLogo': 'https://avatars3.githubusercontent.com/u/11183400?v=3&s=200', 'backgroundColor': '#EFE9D8'};
        signinLink.onclick = function() { navigator.id.request(opts); return false };
      }

      var signoutLink = document.getElementById('signout');
      if (signoutLink) {
        signoutLink.onclick = function() { navigator.id.logout(); return false };
      }
    </script>
</html>