<!DOCTYPE html>
<!--[if lt IE 10]><html lang="en-us" class="lt-ie10"><![endif]-->
<!--[if gt IE 9]><!--><html lang="en-us"><!--<![endif]-->
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" media="screen" href="/static/javascript/toopaymarkdown/css/bootstrap-markdown.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        {% if config.get('ACCEPTANCE_TEST_MODE', False) %}
        <script src="/static/javascript/stubbyid.js"></script>
        {% else %}
        <script src="https://login.persona.org/include.js"></script>
        {% endif %}
        <script type="text/javascript">
          var currentUser = {{email|tojson|safe}};
        </script>
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href="/static/stylesheets/main.css" rel="stylesheet" />
        <script src="{{ url_for('static', filename='script.js') }}"></script>
        <title>{% block title %}{% endblock %} | Chime</title>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        {% if activity %}
        <!-- branch: {{branch}} -->
        <!-- author: {% if activity.author_email %}{{activity.author_email}}{% else %}unknown{% endif %} -->
        {% endif %}
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-64736351-1', 'auto');
          ga('send', 'pageview');

        </script>
    </head>
    <body class="{% block body_class %}{% endblock %} col">

    {% block global_header %}
      {% from 'macros/macros.html' import globalHeader as globalHeader %}
      {{ globalHeader(breadcrumb_items = breadcrumb_items, email=email, branch=branch, activity=activity) }}
    {% endblock %}

    {% include 'includes/flashes.html' %}

     <!-- content -->
        {% block content %}{% endblock %}
     <!-- end content -->

      {% block scripts %}{% endblock %}

        <script src="/static/javascript/placeholders.min.js"></script>
    </body>

    <script type="text/javascript">
      var signinLink = document.getElementById('signin');
      if (signinLink) {
        var opts = {'siteName': 'Chime CMS', 'siteLogo': 'https://avatars3.githubusercontent.com/u/11183400?v=3&s=200', 'backgroundColor': '#EFE9D8'};
        signinLink.onclick = function() { navigator.id.request(opts); return false };
      }

      var signoutLink = document.getElementById('signout');
      if (signoutLink) {
        signoutLink.onclick = function() { navigator.id.logout(); return false };
      }
    </script>
</html>
