{% extends "base.html" %}
{% block title %}Merge conflicts{% endblock %}
{% block content %}
<body>

    <p><b>Merge conflict.</b></p>
    
    <ul>
      {% for file in new_files %}
        <li>{{ file }} <i>new</i></li>
      {% endfor %}
      {% for file in changed_files %}
        <li>{{ file }} <i>different</i></li>
      {% endfor %}
    </ul>
    <form action="/update" method="POST">
      <input name="branch" value="{{branch}}" type="hidden">
      <input class="toolbar__item button button--red" type="submit" name="abandon" value="Abandon">
      <input class="toolbar__item button button--red" type="submit" name="clobber" value="Clobber">
    </form>

{% endblock %}
