{% extends "base.html" %}
{% block title %}Sign In{% endblock %}
{% block body_class %}sign-in{% endblock %}

{% block content %}
<div class="grid col__flex row row--main">
    <div class="signin  grid__item  width-one-whole">
        {% if email %}
            <h2>Not Allowed</h2>
            <p><strong>{{ email }}</strong> doesn't appear to be an approved editor.</p>
            <p><a href="#" class="signout-link">Sign Out</a> and try a different account, or {% if support_email %}<a href="mailto:{{ support_email }}">{% endif %}contact this site's administrator{% if support_email %}</a>{% endif %} to request access.</p>
        {% else %}
            <h2>Sign in</h2>
            <p>To access the website editor, you need to be signed in.</p>
            <input type="button" id="signin" value="Sign in with Persona" class="button button--green button--large">
        {% endif %}
        {% if is_auth_data_default %}
            <p>
                <strong>Your Chime <code>AUTH_DATA_HREF</code> is set to default value.</strong>
            </p>
        {% endif %}
    </div>
</div>
<div class="row row--main">
    <p class="clue">Looking for the Chime homepage? <a href="http://chimecms.org">It's over here</a></p>
</div>
{% endblock %}

