{% extends "base.html" %}
{% block title %}Sign In{% endblock %}
{% block body_class %}sign-in{% endblock %}

{% block content %}
<div class="grid col__flex row row--main">
    <div class="signin  grid__item  width-one-whole">
        {% if email %}
            <h2>Not Allowed</h2>
            <p><strong>{{email}}</strong> doesn't appear to be an approved editor.</p>
            <p>Sign in to a different account or request permission.</p>
            <input type="button" id="signout" value="Sign out" class="button button--red">
        {% else %}
            <h2>Sign in</h2>
            <p>To access the website editor, you need to be signed in.</p>
            <input type="button" id="signin" value="Sign in with Persona" class="button button--green button--large">
        {% endif %}
    </div>
</div>
<div class="row">
    <p class="clue">Looking for the Chime homepage? <a href="https://chimecms.org">It's over here</a></p>    
</div>
{% endblock %}

