{% macro activity_bar(branch, activity, show_review_modal=False) -%}
{% if branch %}
<div class="activity-bar activity-bar--{{activity.review_state|replace(' ', '-')}} row row--main">
  <h2 class="activity-bar__title row__left"><span class="activity-bar__subtitle">Currently:</span> {{ activity.task_description | title }}</h2>
  {% if activity.review_state != config.REVIEW_STATE_PUBLISHED and activity.working_state == config.WORKING_STATE_ACTIVE %}
    <div class="toolbar toolbar--right">
      <a href="{{activity.edit_path}}" class="button button--text toolbar__item"><span class="fa fa-files-o"></span> Content</a>
      <a href="{{activity.overview_path}}" class="button button--text toolbar__item"><span class="fa fa-calendar-o"></span> Overview</a>
      {% if activity.review_authorized %}
      {% if activity.review_state == config.REVIEW_STATE_EDITED %}
      <a href="{{activity.review_path}}" class="toolbar__item button button--open-review-modal button--orange">Request Feedback</a>
      {% elif activity.review_state == config.REVIEW_STATE_FEEDBACK %}
      <a href="{{activity.review_path}}" class="toolbar__item button button--open-review-modal">Leave a comment</a>
      <a href="{{activity.review_path}}" class="toolbar__item button button--open-review-modal button--green">Endorse Edits</a>
      {% elif activity.review_state == config.REVIEW_STATE_ENDORSED %}
      <a href="{{activity.review_path}}" class="toolbar__item button button--open-review-modal button--blue">Publish</a>
      {% endif %}
      {% endif %}
    </div>
  {% endif %}
</div>
<div class="modal-container {% if show_review_modal %}is-open{% endif %}">
  <form class="modal review-modal review-modal--{{activity.review_state|replace(' ', '-')}}">
    <h2 class="review-modal__title">You are now reviewing edits on 7 files</h2>
    <div class="toolbar toolbar--right">
      <a href="{{activity.overview_path}}" class="toolbar__item button button--close-review-modal button--medium">Cancel</a>
      {% if activity.review_authorized %}
      {% if activity.review_state == config.REVIEW_STATE_EDITED %}
      <button class="toolbar__item button button--medium button--orange" type="submit" name="request_feedback" value="Request Feedback">Request Feedback</button>
      {% elif activity.review_state == config.REVIEW_STATE_FEEDBACK %}
      <button class="toolbar__item button button--medium button" type="submit" name="comment" value="Leave a comment">Leave a comment</button>
      <button class="toolbar__item button button--medium button--green" type="submit" name="endorse_edits" value="Endorse Edits">Endorse Edits</button>
      {% elif activity.review_state == config.REVIEW_STATE_ENDORSED %}
      <button class="toolbar__item button button--blue" type="submit" name="merge" value="Publish">Publish</button>
      {% endif %}
      {% endif %}
    </div>
  </form>
</div>
{% endif %}
{%- endmacro %}
