{% macro globalHeader(breadcrumb_items=[], task_description, email, branch) -%}
<div class="global-header  row">
  <div class="row__left">

    <a href="/" class="global-header__title">Chime</a>
    <nav class="breadcrumb">
      {% for item in breadcrumb_items %}
        <a href="{{ item.url }}" class="breadcrumb__item">{{ item.name }}</a>
      {% endfor %}
    </nav>
  </div>
  <nav class="global-header__nav  row__right  toolbar--right">
    {% if branch %}
    <a href="/tree/{{ branch }}" class="activity-button toolbar__item">Current Activity: {{ task_description | title }}</a>
    <a class="toolbar__item" href="{{ live_site_url }}">Visit site</a>
    {% if email %}
      <a class="toolbar__item" href="#" id="signout">Sign Out</a>
    {% endif %}
    {% endif %}
  </nav>
</div>
{%- endmacro %}