{% macro globalHeader(breadcrumb_items=[], email, task_description, author_email, branch, task_date_updated, task_date_created, needs_peer_review, eligible_peer, is_peer_approved, is_peer_rejected) -%}
<div class="global-header  row">
  <div class="row__left">

    <a href="/" class="global-header__title">Chime</a>
    <nav class="breadcrumb">
      {% for item in breadcrumb_items %}
        <a href="{{ item.url }}" class="breadcrumb__item">{{ item.name }}</a>
      {% endfor %}
    </nav>
  </div>
  <nav class="global-header__nav  row__right  toolbar--right">
    {% if task_description %}
      <div href="#" class="toolbar__item dropdown">
        <span class="dropdown__link">Current Activity: {{ task_description | title }}</span>
        <ul class="dropdown__popup">
          {% set itemvalues = branch.split('/') %}
          {% set name = itemvalues[0] %}
          {% set task = itemvalues[1] %}

          <li>Started by: <b>{{ author_email }}</b></li>

          <li><a href="#" class="button">Submit for Pull Request</a></li>
        </ul>
      </div>
    {% endif %}
    <a class="toolbar__item" href="{{ live_site_url }}">Visit site</a>
    {% if email %}
      <a class="toolbar__item" href="#" id="signout">Sign Out</a>
    {% endif %}
  </nav>
</div>
{%- endmacro %}