{% extends "base.html" %}
{% block title %}Google authorization successful{% endblock %}
{% block content %}

	<h1>Google account authorized</h1>
	<div class="layout-breve">
		<p><a href="/">Continue</a></p>
		<!--div class="sketchy">
			<p>We just need a few more pieces of information.</p>
			<form>
				<ul class="list-form">
					<li class="form-field">
						<label for"web-property">Your website's URL</label><input type="text" id="web-property" placeholder="wwww.google.com" />
					</li>
				</ul>
				<p><input type="submit" value="Set" /></p>
			</form>
		</div-->
	</div>
{% endblock %}
