<!DOCTYPE html>
<html lang="en-us">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" type="text/css" href="//cloud.webtype.com/css/944a7551-9b08-4f0a-8767-e0f83db4a16b.css" />
        <link rel="stylesheet" href="http://style.codeforamerica.org/style/css/main.css">
        <link rel="stylesheet" href="http://style.codeforamerica.org/style/css/layout.css" media="all and (min-width: 40em)">
        <link href="http://style.codeforamerica.org/style/css/prism.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" media="screen" href="/static/javascript/toopaymarkdown/css/bootstrap-markdown.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <script src="https://login.persona.org/include.js"></script>
        <script type="text/javascript">
          var currentUser = {{email|tojson|safe}};
        </script>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
        <title>{% block title %}{% endblock %} | Bizarro</title>
    </head>
    <body>
        <h1><a href="/">City website editor</a> <span> {% if branch %}&rarr; <a href="./">{{branch}}</a></span>{% endif %}</h1>
        <form>
            <div class="signon">
                  {% if email %}
                    <input type="button" id="signout" value="Sign out">
                  {% else %}
                    <input type="button" id="signin" value="Sign in">
                  {% endif %}
            </div>
        </form>
        {% if email %}
            {% block content %}{% endblock %}
        {% endif %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="/static/javascript/toopaymarkdown/js//bootstrap-markdown.js"></script>

    </body>

    <script type="text/javascript">
      var signinLink = document.getElementById('signin');
      if (signinLink) {
        signinLink.onclick = function() { navigator.id.request(); };
      }

      var signoutLink = document.getElementById('signout');
      if (signoutLink) {
        signoutLink.onclick = function() { navigator.id.logout(); };
      }
    </script>
</html>