{% extends "base.html" %}
{% block title %}Tasks{% endblock %}
{% block content %}

    <div class="main-content">
      <div class="current-tasks">
        <h2>Current tasks</h2>
        {% if items.index is undefined %}
          <p>Doesn't look like anyone's working on anything yet. You should hop to it!</p>
        {% else %}
          <p>Work that's already underway by you and your colleagues.</p>
          <table>
          {% for item in items %}
           <tr>
            <td><a href="/tree/{{item.path}}/edit/">{{item.name}}</a> <!--({{item.ahead|count}} ahead, {{item.behind|count}} behind)--></td>
            <td>
              <form action="/merge" method="POST">
                <a class="button-edit button" href="/tree/{{item.path}}/edit/">Open</a>
                
                {% if item.needs_peer_review %}
                  <a href="mailto:?to=&amp;subject={{item.review_subject|urlencode}}&amp;body={{item.review_body|urlencode}}" class="button-review button">Submit for review</a>
                {% endif %}
                
                {% if item.is_peer_approved %}
                  <button name="action" value="merge" type="submit" class="button button-publish">Publish</button>
                {% endif %}

                  <button name="action" value="abandon" type="submit" class="button button-delete">Delete task</button>
                  <input type="hidden" name="branch" value="{{item.name}}">
                </form>
              </td>
            </tr>
          {% endfor %}
         {% endif %}
        </table>
        </div>
        <div class="new-task">
          <h2>Need to get started on something new?</h2>
          <form action="/start" method="POST">
            <p><input name="branch" placeholder="e.g. updating mayoral bio" type="text">
            <button type="submit">Create task</button>
          </form>  
        </div>
    </div>
   


    
{% endblock %}

