{% extends "base.html" %}
{% block title %}Tasks{% endblock %}
{% block content %}

<div class="main-content loggedout">
    <div class="signin">
        {% if email %}
            <h2>Not Allowed</h2>
            <p>{{email}} doesn't appear to be an approved editor, sign in to a different account or request permission.</p>
            <input type="button" id="signout" value="Sign out">
        {% else %}
            <h2>Sign in</h2>
            <p>To access the website editor, you need to be signed in:</p>
            <input type="button" id="signin" value="Sign in">
        {% endif %}

        <h2>Don't have permission yet?</h2>
        <p>Contact your website lead to add your email address to <a href="{{auth_url}}">the list of editors</a>.</p>
        <p><a href="mailto:poc" class="button sketchy">Email admin</a></p>
    </div>
    <p class="clue">Looking for the Ceviche homepage? <a href="">It's over here</a></p>
</div>
    
{% endblock %}

