{% extends "base.html" %}
{% block title %}Tasks{% endblock %}
{% block content %}

<h1><a href="/">City website editor</a> <span> &rarr; <a href="./">{{branch}}</a></span></h1>
    
<form action="/tree/{{safe_branch}}/save/{{edit_path}}" method="POST">

    <nav class="nav-tabs" role="navigation" style="text-align:left;">
        

        {% if languages|length > 1 %}
            <ul class="layout-semibreve layout-tight">
                {% for iso in languages %}
                    {% set lang = languages[iso] %}
                    {% if iso == 'en' %}
                        {% set class = 'nav-tab state-active' %}
                    {% else %}
                        {% set class = 'nav-tab' %}
                    {% endif %}
                    
                    <li id="{{iso}}-nav" class="{{class}}"><a class="nav-tab-link" href="" onclick="return show{{lang}}Form()">{{lang}}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </nav>
    
    <ul class="detailed-info sketchy">
        <li><a href="">Stats</a></li>
        <li><a href="history.html">History</a></li>
    </ul>

    <div class="layout-breve content">
        <div class="content-edit">
            {% for iso in languages %}
                {% if iso == 'en' %}
                    {% set form_title = front['title'] %}
                    {% set form_body = body %}
                    {% set display = 'block' %}
                {% else %}
                    {% set form_title = front['title-'+iso] %}
                    {% set form_body = front['body-'+iso] %}
                    {% set display = 'none' %}
                {% endif %}
                
            <div id="{{languages[iso]}}-form" style="display: {{display}}" class="glayout-minim glayout-major language-edit">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class="save-status-success">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
                       
                <ul class="list-form">
                    <li class="form field">
                        <label>Heading</label>
                        <input name="{{iso}}-title" value="{{form_title}}" type="text">
                    </li>
                    <li class="form-field">
                        <label>Content</label>
                        <textarea id="{{iso}}-body" class="textarea" name="{{iso}}-body" type="text">{{form_body}}</textarea>
                    </li>                      
                </ul>
            </div>
            {% endfor %}

            <div class="button-group" style="clear:both">
                <input name="layout" value="{{front['layout']}}" type="hidden" />
                <input name="hexsha" value="{{hexsha}}" type="hidden" />
                <input type="submit" class="primary-button" value="Save"/>
                <a href="{{view_path}}" class="button primary-button" target="_blank">Preview</a>
                <a class="button button-unstyled sketchy" href="#">Archive</a>
            </div>
        </div>
        <div class="content-settings">
            <ul class="list-form slug">
            <li class="form-field">
                <label for="url-slug">Slug</label>
                <input name="url-slug" type="text" value="{{url_slug}}" />  
            </li>   
            <li class="form-field">
                <label for="" class="sketchy">Category</label>
                <input name="" type="text" value="" />  
            </li>   
            <li class="form-field">
                <label for="" class="sketchy">Template</label>
                <input name="" type="text" value="" />  
            </li>                    
            </ul>
            
        </div>
    </div>
    <div id="statistics">
        <h2>How is this content performing?</h2>
        <div class="copy-quality">
            <p><span>Wordcount: <span class="sketchy">120</span></span></p> 
            <p><span>Grade level: <span class="sketchy">8</span></span></p>
            <p><span>Buzzwords: <span class="sketchy">12</span></span></p>    
        </div>
            
        <div class="analytics-overview">
            <p><span class="big-number sketchy">{{page_views}}</span> <span>Views this week</span></p>
            <p><span class="big-number sketchy">{{average_time_page}}s</span> <span>Average visit time</span></p>
        </div>
        <button id="authorize-button" style="visibility: hidden">Authorize</button>
    </div>
                
</form>

    <script type="text/javascript">
    
        {% for iso in languages %}
            {% set lang = languages[iso] %}
        
            function show{{lang}}Form()
            {
                {% for other_iso in languages %}
                    {% set other_lang = languages[other_iso] %}
                    document.getElementById('{{other_lang}}-form').style.display = 'none';
                    document.getElementById("{{other_iso}}-nav").className = "nav-tab";
                {% endfor %}

                document.getElementById('{{lang}}-form').style.display = 'block';
                var d = document.getElementById("{{iso}}-nav");
                d.className = d.className + " state-active";
                return false;
            }
        {% endfor %}

    </script>

{% endblock %}
