{% extends "base.html" %}
{% block title %}History{% endblock %}
{% block content %}

<div class="main-content">
    <div class="file-explorer">
        <h2>History</h2>
        <p class="sketchy">
            Blah blah blah.
            <a href="{{edit_path}}">Edit {{path}}.</a>
        </p>
        <table class="history">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Modified</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                {% for commit in history %}
                <tr>
                    <td>{{ commit.name or commit.email }}</td>
                    <td>{{ commit.date }}</td>
                    <td>{{ commit.subject }}</td>
                </tr>
                {% endfor %}  
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

