{% extends "base.html" %}
{% block title %}Task Review{% endblock %}
{% block content %}
    <div class="main-content">
      <div class="current-tasks">
        <h2>Review activity</h2>
        <p>Why don't you think <strong>{{task_description}}</strong>{% if task_beneficiary %} for <strong>{{task_beneficiary}}</strong>{% endif %} is ready to go live?</p>
            
        </div>

        <form action="/review" method="post">
        <ul class="list-form">
            <li class="form-field">
                <label for="comments">Suggested changes</label>
                <textarea name="comments" class="textarea"></textarea>
            </li>                      
        </ul>
        <input name="hexsha" value="{{hexsha}}" type="hidden" />
        <input name="branch" value="{{branch}}" type="hidden" />
        <button name="action" value="feedback" type="submit" />Send feedback</button>
        </form>
    </div>
{% endblock %}
