{% extends "base.html" %}
{% block title %}Tasks{% endblock %}
{% block content %}
    <h1><a href="/">Bizarro editor</a> <span> &rarr; <a href="./">{{branch}}</a></span></h1>
    
        <form action="/tree/{{safe_branch}}/save/{{edit_path}}" method="POST">
        
        <nav class="nav-tabs" role="navigation" style="text-align:left;">
            <!--div class="layout-breve"-->
            <ul class="list-form slug">
                <li class="form-field">
                    <label for="url-slug">Slug</label>
                    <input name="url-slug" type="text" value="{{url_slug}}" />  
                </li>                      
            </ul>
            <!--/div-->
        
        </nav>
        <ul class="detailed-info sketchy">
            <li><a href="">Stats</a></li>
            <li><a href="history.html">History</a></li>
        </ul>

        <div class="layout-breve">
                <div id="english" style="display: block" class="glayout-minim glayout-major language-edit">
                    <div class="badge-heading badge-gov badge-teal">
                        <h2><input name="title" value="{{front['title']}}" type="text"></h2>
                    
                        {% with messages = get_flashed_messages() %}
                          {% if messages %}
                            <ul class="save-status-success">
                            {% for message in messages %}
                              <li>{{ message }}</li>
                            {% endfor %}
                            </ul>
                          {% endif %}
                        {% endwith %}
                    </div>
                    <ul class="list-form">
                        <li class="form-field">
                            <label for="body">Content</label>
                            <textarea id="en-body" class="textarea" name="body" type="text">{{body}}</textarea>
                        </li>                      
                    </ul>
                </div>
                <div id="statistics" class="sketchy">
                        <button id="authorize-button" style="visibility: hidden">Authorize</button>
                <div class="slab-blue info sketchy">

                        <h2><span class="big-number">247</span> <span>people viewed this information this week</span></h2>
                        <ul>
                            <li><span>65%</span> came from <a href="">Vehicle licences</a></li>
                            <li><span>45%</span> continued on to <a href="">Home page</a></li>
                        </ul>
                        <p><a href="">Read more about your users</a></p>
                    </div>
                </div>
                <div class="button-group" style="clear:both">
                    <input name="layout" value="{{front['layout']}}" type="hidden" />
                    <input name="hexsha" value="{{hexsha}}" type="hidden" />
                    <input type="submit" class="primary-button" value="Save"/>
                    <a href="{{view_path}}" class="button primary-button" target="_blank">Preview</a>
                    <a class="button button-unstyled sketchy" href="#">Archive</a>
                </div>
            </div>
                
            </form>
            <!-- dummy right hand section -->
            
        </div>            
        

    </form>

{% endblock %}
