{% extends "base.html" %}
{% block title %}Tasks{% endblock %}
{% block content %}
    <h1><a href="/">Bizarro editor</a> <span> &rarr; <a href="./">{{branch}}</a></span></h1>
    
        <form action="/tree/{{safe_branch}}/save/{{edit_path}}" method="POST">
        
        <nav class="nav-tabs" role="navigation" style="text-align:left;">
            <!--div class="layout-breve"-->
            <ul class="list-form slug">
                <li class="form-field">
                    <label for="url-slug">Slug</label>
                    <input name="url-slug" type="text" value="{{url_slug}}" />  
                </li>                      
            </ul>
            <!--/div-->
        
            <ul class="layout-semibreve layout-tight">
                <li id="en-nav" class="nav-tab state-active"><a class="nav-tab-link" href="" onclick="return showEnglish()">English</a></li>
                <li id="es-nav" class="nav-tab"><a class="nav-tab-link" href="" onclick="return showSpanish()">Spanish</a></li>
                <li id="cn-nav" class="nav-tab"><a class="nav-tab-link" href="" onclick="return showChinese()">Chinese</a></li>
            </ul>
        </nav>
        <ul class="detailed-info">
            <li><a href="">Stats</a></li>
            <li><a href="history.html">History</a></li>
        </ul>

        <div class="layout-breve">
                <div id="english" style="display: block" class="glayout-minim glayout-major language-edit">
                    <div class="badge-heading badge-gov badge-teal">
                        <h2><input name="title" value="{{front['title']}}" type="text"></h2>
                    </div>
                    <ul class="list-form">
                        <li class="form-field">
                            <label for="body">Content</label>
                            <textarea id="en-body" class="textarea" name="body" type="text">{{body}}</textarea>
                        </li>                      
                    </ul>
                </div>
                <div id="spanish" style="display: none" class="glayout-minim glayout-major language-edit">
                    <div class="badge-heading badge-gov badge-teal">
                        <h2><input name="title-es" value="{{front['title-es']}}" type="text"></h2>
                    </div> 
                    <ul class="list-form">
                        <li class="form-field">
                            <label for="en-body">Content</label>
                            <textarea id="en-body" class="textarea" name="body-es" type="text">{{front['body-es']}}</textarea>
                        </li>
                    </ul> 
                </div>
                <div id="chinese" style="display: none" class="glayout-minim glayout-major language-edit">
                    <div class="badge-heading badge-gov badge-teal">
                        <h2><input name="title-zh-cn" value="{{front['title-zh-cn']}}" type="text"></h2>
                    </div>
                        <ul class="list-form">
                            <li class="form-field">
                                <label for="cn-body">Content</label>
                                <textarea id="cn-body" class="textarea" name="body-zh-cn" type="text">{{front['body-zh-cn']}}</textarea>
                            </li>             
                        </ul> 
                </div>
                <div id="statistics">
                        <button id="authorize-button" style="visibility: hidden">Authorize</button>
                <div class="slab-blue info">
                        <h2><span class="big-number">247</span> <span>people viewed this information this week</span></h2>
                        <ul>
                            <li><span>65%</span> came from <a href="">Vehicle licences</a></li>
                            <li><span>45%</span> continued on to <a href="">Home page</a></li>
                        </ul>
                        <p><a href="">Read more about your users</a></p>
                    </div>
                </div>
                <div class="button-group" style="clear:both">
                    <input name="layout" value="{{front['layout']}}" type="hidden" />
                    <input name="hexsha" value="{{hexsha}}" type="hidden" />
                    <input type="submit" class="primary-button" value="Save"/>
                    <a href="{{view_path}}" class="button primary-button" target="_blank">Preview</a>
                    <a class="button button-unstyled" href="#">Archive</a>
                </div>
            </div>
                
            </form>
            <!-- dummy right hand section -->
            
        </div>            
        

    </form>
    <script type="text/javascript">
    
        function showEnglish()
        {
            document.getElementById('english').style.display = 'block';
            document.getElementById('spanish').style.display = 'none';
            document.getElementById('chinese').style.display = 'none';
            var d = document.getElementById("en-nav");
            d.className = d.className + " state-active";
            document.getElementById("es-nav").className = "nav-tab";
            document.getElementById("cn-nav").className = "nav-tab";
            return false;
        }

        function showSpanish()
        {
            document.getElementById('english').style.display = 'none';
            document.getElementById('spanish').style.display = 'block';
            document.getElementById('chinese').style.display = 'none';
            var d = document.getElementById("es-nav");
            d.className = d.className + " state-active";
            document.getElementById("en-nav").className = "nav-tab";
            document.getElementById("cn-nav").className = "nav-tab";
            return false;
        }

        function showChinese()
        {
            document.getElementById('english').style.display = 'none';
            document.getElementById('spanish').style.display = 'none';
            document.getElementById('chinese').style.display = 'block';
            var d = document.getElementById("cn-nav");
            d.className = d.className + " state-active";
            document.getElementById("en-nav").className = "nav-tab";
            document.getElementById("es-nav").className = "nav-tab";
            return false;
        }

    </script>


{% endblock %}
