{% extends "base.html" %}
{% block title %}Task Review{% endblock %}
{% block content %}
    <div class="layout-breve">
      <div class="current-tasks">
        <h2>Review task</h2>
        <p>Describe the changes you think may need to be made to this task before it goes live.</p>
            
        </div>

        <form action="/review" method="post">
        <ul class="list-form">
            <li class="form-field">
                <label for="comments">Suggested changes</label>
                <textarea name="comments" class="textarea"></textarea>
            </li>                      
        </ul>
        <input name="hexsha" value="{{hexsha}}" type="hidden" />
        <input name="branch" value="{{branch}}" type="hidden" />
        <button name="action" value="feedback" type="submit" />Send feedback</button>
        </form>
    </div>
{% endblock %}
