<div class="global-header  row">
  <div class="row__left">
    <a href="/" class="global-header--title">Chime</a>
  </div>
  <nav class="global-header--nav  row__right  toolbar--right">
    {% if author_email and task_description %}
    <a class="toolbar__item" href="./">Current Activity: <strong>{{task_description}}</strong></a>
    {% elif branch %}
    <a class="toolbar__item" href="./">{{branch}}</a>
    {% endif %}
    <a class="toolbar__item" href="/">All Activities</a>
    <a class="toolbar__item" href="{{ live_site_url }}">Visit site</a>
    {% if email %}
      <a class="toolbar__item" href="#" id="signout">Sign Out</a>
    {% endif %}
  </nav>
</div>