/*------------------------------------*\
    # Vendor CSS
\*------------------------------------*/

@import 'bourbon/bourbon';
@import 'core/grid-settings';
@import 'neat/neat';



/*------------------------------------*\
    # Core
\*------------------------------------*/

@import 'core/variables';
@import 'core/normalize';
@import 'core/utilities';
@import 'core/layout';
@import 'core/grid';
@import 'core/base';
@import 'core/helpers';

h1, h2, h3 {
	 margin-top: 3em;
}

.styleguide {
	position: static;
	padding-bottom: 4em;
	max-width: 680px;
	min-width: 0;
	width: auto;
	margin: {
		left: auto;
		right: auto;
	}
}

.row, .col, .grid, .toolbar {
	border: 1px solid $color-grey-500;
}

.grid__item {
	
}

.toolbar__item, .grid__item, .row__left, .row__right, .col__item, .col__flex {
	background-color: rgba($color-green-300, .5);
	margin: {
		top: 1px;
		bottom: 1px;
	}
}