.activities-list__main {
	@include main-padding();
	@include stretch-content();
	background-color: $color-grey-50;
	overflow: auto;
}

.current-tasks__empty-description {
	font-size: $h2-font-size;
	font-weight: 300;
	max-width: 500px;
	margin-top: 4em;
}

.current-tasks__list {
	margin: 2em 0;
	margin-right: $site-margins/2;
}

.current-task {
	@include transition(box-shadow ease-out .2s);
	display: block;
	padding: .5em 1em;
	background-color: #fff;
	box-shadow: $box-shadow-1;
	margin-bottom: 2em;
	.lt-ie10 & {
		border: 1px solid $color-grey-200;
	}
}

.current-task__title {
	font-size: $h2-font-size;
	border-bottom: 1px solid $color-grey-100;
	margin-top: .5em;
	margin-bottom: .5em;
	padding-bottom: .5em;
	a {
		color: $color-grey-900;
		display: block;
		position: relative;
		&:after {
			content: '\f105';
			font-family: "FontAwesome";
			position: absolute;
			display: block;
			right: 0;
			top: 0;
		}
		&:hover {
			color: $color-link;
			text-decoration: none;
		}
	}
}

.current-task__author {
	margin-top: 0;
}

.current-task__details {
	padding: 0;
}

.new-task {
	padding: 0 $site-margins/2;
	border-left: 1px solid $color-grey-200;
	input {
		margin: .5em 0;
	}
}

.new-task__description {
	margin-top: 0;
	font-weight: bold;
}

.new-task__form {
	margin-top: 5em;
	background-color: $color-grey-100;
	border: 1px solid $color-grey-300;
	padding: 1em;
}

.new-task__textarea {
	resize: none;
	padding: .5em;
}

.new-task__actions {
	margin-top: 1em;
}

