.activity-overview__container {
	background-color: $color-grey-50;
	overflow: auto;
	padding-bottom: 4em;
}

.activity-overview__subtitle {
	@include allcaps();
	font-size: $base-font-size;
	font-weight: 400;
	color: $color-grey-700;
}

.activity-overview__details {
	font-size: $base-font-size;
	color: $color-grey-600;
}


.activity-overview__row {
	@include clearfix();
	margin: 2em auto;
	max-width: 680px;
	padding: .5em $site-margins;
	border: 1px solid $color-grey-200;
	background-color: #fff;
	position: relative;
}

.activity-overview__header {
	font-size: $h4-font-size;
	font-weight: 700;
	margin-bottom: 2em;
	padding-bottom: 1em;
	border-bottom: 1px solid $color-grey-200;
}

.activity-overview__title {
	font-size: $h2-font-size;
	font-weight: 700;
	max-width: 680px;
	margin: 1.5em auto .5em auto;
	a {
		color: inherit;
		text-decoration: underline;
	}
}

.activity-overview__actions {
	padding: 0;
	background-color: transparent;
	border: 0;
}
