.activity-overview__container {
	background-color: $color-grey-100;
	overflow: auto;
}

.activity-overview__subtitle {
	@include allcaps();
	font-size: $base-font-size;
	font-weight: 400;
	color: $color-grey-700;
}

.activity-overview__details {
	font-size: $base-font-size;
	color: $color-grey-600;
}

.activity-overview__title {
	margin-top: 0;
}

.activity-overview__main {
	margin: 3em auto;
	max-width: 680px;
	box-shadow: $box-shadow-1;
	background-color: #fff;
	.row {
		padding: 2em $site-margins;
		border-top: 1px solid $color-grey-200;
	}
}


.activity-overview {
	.activity-log.row {
		background-color: $color-grey-50;
		margin-top: -1px;
	}
}

.activity-overview__description {
	font-size: $text-font-size;
	font-weight: 600;
	margin-top: 0;
	a {
		color: inherit;
		text-decoration: underline;
	}
}
