.activities-list__header {
	background-color: #fff;
	border-bottom: 1px solid $color-grey-300;
	p {
		margin: .4em 0 0 0;
	}
}

.activities-list__main {
	@include stretch-content();
	padding: 0 $site-margins/2;
	background-color: $color-grey-50;
	overflow: auto;
}

.activity-box {
	@include flex(1 1 250px);
	width: 250px;
	float: left;
	padding: 2em $site-margins/2;
	border-right: 1px solid $color-grey-300;
	overflow: auto;
	&:last-child {
		border-right: 0;
	}
}

.new-activity {
	width: 480px;
	h3 {
		margin-top: 0;
	}
	textarea {
		font-size: $h4-font-size;
		resize: none;
		padding: .5em;
	}
	.grid {
		button[type="submit"] {
			margin-top: 1.4em;
		}
		p {
			padding-left: 2em;
		}
	}

}

.activity-box__title {
	font-size: $h4-font-size;
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 2em;
	position: relative;
	&:before {
		display: inline-block;
		margin-right: .5em;
		font-family: "FontAwesome"
	}
}

.activity-box__title--edited {
	&:before {
		content: '\f040';
	}
}

.activity-box__title--feedback {
	&:before {
		content: '\f087';
	}
}

.activity-box__title--endorsed {
	&:before {
		content: '\f040';
	}
}

.activity-box__title--published {
	&:before {
		content: '\f00c';
	}
}

.activity-box__list {
	margin-top: 0;
}

.activity-box__empty-state {
	font-size: $h4-font-size;
	text-align: center;
	color: $color-grey-600;
}

.activity {
	padding: 1em 0;
	background-color: #fff;
	box-shadow: $box-shadow-1;
	padding: $site-margins/4 $site-margins/2;
	margin: 1em 0;
}

.activity--edited {
	border-left: 4px solid $color-grey-300;
}

.activity--feedback {
	border-left: 4px solid $color-orange-300;
}

.activity--endorsed {
	border-left: 4px solid $color-green-300;
}

.activity--published {
	border-left: 4px solid $color-blue-300;
}

.activity__title {
	font-weight: 400;
	font-size: $h4-font-size;
	margin: 0;
	margin-bottom: .2em;
	a {
		color: #000;
	}
}

.activity__author {
	margin: 0;
	font-size: $base-font-size;
}

.activity__actions {
	margin-top: .5em;
	border-top: 1px solid $color-grey-300;
	padding-top: .5em;
	a {
		color: $color-grey-400;
		&:hover {
			color: $color-grey-600;
		}
	}
}