.activities-list {
	background-color: $color-grey-50;
}

.activities-list__header {
	background-color: #fff;
	border-bottom: 1px solid $color-grey-300;
	p {
		margin: .4em 0 0 0;
	}
}

.activity-list__states {
	padding: 1em 0;
	.activity-progress__item {
		&:before {
			background-color: $color-grey-300;
		}
		&:after {
			@include triangle(right, $color-grey-300, 6px);
		}		
	}
	.activity-progress__label {
		font-weight: 300;
	}
}

.activities-list__main {
	@include stretch-content();
	padding: 0 $site-margins/2;
	overflow: auto;
}

.activity-box {
	@include flex(1 1 250px);
	width: 250px;
	float: left;
	padding: 0 $site-margins/2 2em $site-margins/2;
	border-right: 1px solid $color-grey-200;
	overflow: auto;
	overflow-x: hidden;
	&:last-child {
		border-right: 0;
	}
}

.new-activity {
	width: 480px;
	h3 {
		margin-top: 0;
	}
	textarea {
		font-size: $h4-font-size;
		resize: none;
		padding: .5em;
	}
	.grid {
		button[type="submit"] {
			margin-top: 1.4em;
		}
		p {
			padding-left: 2em;
		}
	}

}

.activity-box__title {
	font-size: $h4-font-size;
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 2em;
	position: relative;
	&:before {
		display: inline-block;
		margin-right: .5em;
		font-family: "FontAwesome"
	}
}

.activity-box__title--edited {
	&:before {
		content: '\f040';
	}
}

.activity-box__title--feedback {
	&:before {
		content: '\f087';
	}
}

.activity-box__title--endorsed {
	&:before {
		content: '\f040';
	}
}

.activity-box__title--published {
	&:before {
		content: '\f00c';
	}
}

.activity-box__list {
	margin-top: 0;
}

.activity-box__empty-state {
	height: 6em;
	width: 6em;
	text-indent: -9999px;
	margin: 3em auto;
	opacity: .3;
	background: url('../images/chime_symbol.svg') no-repeat center center;
	background-size: 6em 6em;
}

.activity {
	padding: 1em 0;
	background-color: #fff;
	box-shadow: $box-shadow-1;
	padding: $site-margins/4;
	margin: .2em 0 1em 0;
}

.activity--edited {
	border-left: 4px solid $color-grey-600;
}

.activity--feedback {
	border-left: 4px solid $color-orange-300;
}

.activity--endorsed {
	border-left: 4px solid $color-green-300;
}

.activity--published {
	border-left: 4px solid $color-blue-300;
}

.activity__title {
	font-weight: 400;
	font-size: $h4-font-size;
	margin: 0;
	margin-bottom: .2em;
	a {
		color: #000;
	}
}

.activity__status {
	margin: 0;
	font-size: $base-font-size;
	color: $color-grey-500;
	font-weight: 400;
	width: 100%;
	
}

.activity__author {
	white-space: pre;           /* CSS 2.0 */
	white-space: pre-wrap;      /* CSS 2.1 */
	white-space: pre-line;      /* CSS 3.0 */
	white-space: -pre-wrap;     /* Opera 4-6 */
	white-space: -o-pre-wrap;   /* Opera 7 */
	white-space: -moz-pre-wrap; /* Mozilla */
	white-space: -hp-pre-wrap;  /* HP Printers */
	word-wrap: break-word;      /* IE 5+ */
}

.activity__actions {
	width: auto;
	margin-top: .5em;
	margin: {
		left: -$site-margins/4;
		right: -$site-margins/4;
	}
	padding: {
		left: $site-margins/4;
		right: $site-margins/4;
	}
	border-top: 1px solid $color-grey-200;
	padding-top: .5em;
	.toolbar__item {
		color: $color-grey-400;
		&:hover {
			color: $color-grey-600;
		}
	}
}