.edit-article__form {
	padding: 0;
}

.edit-article__header {
	@include flex-shrink(0);
	background-color: #fff;
	border-bottom: 1px solid #ddd;
	.button {
		margin-top: 1.6em;
	}
}

.edit-article__main {
	padding: 0;
	@include stretch-content();
}

.edit-article__title {
	font-weight: 700;
	min-width: 300px;
	box-sizing: border-box;
}

.edit-article__editor {
	width: 50%;
	max-width: 800px;
	background-color: $color-grey-50;
	border-right: 1px solid $color-grey-300;

}

.markdown-textarea {
	@include flex(1);
	margin: 0;
	font-family: $font-mono;
	font-weight: 400;
	line-height: 1.5em;
	background-color: transparent;
	color: $color-grey-900;
	width: 100%;
	-webkit-appearance: none;
	border: 0;
	outline: none;
	resize: none;
	height: auto;
	overflow: auto;
	padding: 2em;

	&:focus {
		background-color: transparent;
	}

	.lt-ie10 & {
		min-height: 300px;
		max-height: 700px;
	}
}

.edit-article__previewer {
	width: 50%;
}

.previewer-content {
	position: relative;
	margin: $site-margins;
	border: 1px solid $color-grey-300;

	.lt-ie10 & {
		min-height: 300px;
		max-height: 700px;
	}

	iframe {
		background-color: #fff;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		bottom: 0;
		border: 0;
	}
}

.previewer-bar {
	background-color: $color-grey-100;
	border-bottom: 1px solid $color-grey-300;
	padding: .5em $site-margins;
	font-family: 'FontAwesome';
	@include user-select(none);
}

.edit-article__footer {
	@include flex-shrink(0);
	padding: {
		top: .5em;
		bottom: .5em;
	}
	background-color: $color-grey-200;
	border-top: 1px solid $color-grey-300;
}

.statistics {
	color: $color-grey-700;
}