.articles-list__main {
	@include stretch-content();
	@include clearfix();
}

.dir.grid__item {
	border-right: 1px solid $color-grey-300;
	padding: 1em $site-margins;
}


.box-add-file-folder {
	padding-bottom: 2em;
	border-bottom: 1px solid $color-grey-400;
	margin-bottom: 2em;
	margin: {
		left: -.5em;
		right: -.5em;
	}
}

.articles-list__header {
	padding-bottom: 1em;
	border-bottom: 1px solid $color-grey-500;
	margin-bottom: 2em;
}


.dir-item {
	position: relative;
	padding: 1em .5em;
	font-size: $h5-font-size;
	margin: {
		left: -.5em;
		right: -.5em;
	}
	&:not(:last-child) {
		border-bottom: 1px solid $color-grey-300;
	}
	

	&:hover {
		.dir-item__actions {
			opacity: 1;
		}
	}

	&.is-selected {
		background-color: $color-grey-300;
		.dir-item__name {
			color: #000;
		}
	}
}

.dir-item__display-type {
	margin-right: 1em;
}

.dir-item__name {
	color: $color-grey-700;
	font-weight: 400;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	width: auto;
	margin-right: 2.5em;
	.lt-ie10 & {
		text-overflow: clip;
		-ms-text-overflow: clip;
	}
}

.dir-item__actions {
	opacity: 0;
	position: absolute;
	right: .5em;
	top: 50%;
	margin-top: -.5em;
}

.dir-item__action {
	background: transparent;
	border: 0;
	padding: 0;
	color: $color-grey-600;
	&:hover {
		color: #000;
	}
}

.dir-item__action--delete {
	color: $color-red-400;
	&:hover {
		color: $color-red-600;
	}
}

.articles {
	padding: 1em $site-margins;
}