.error-404 {
    background-image: url('../images/error-404-bg.jpg');
}

.error-500 {
    background-image: url('../images/error-500-bg.png');
}

.message-404, .message-500 {
    background-color: #fff;
    margin: 3em auto;
    max-width: 680px;
    box-shadow: $box-shadow-1;
    padding: $site-margins;
    text-align: center;
    h1 {
        margin-top: 0;
        margin-bottom: 2em;
    }
    p {
        font-weight: 400;
    }
    a {
        color: inherit;
        text-decoration: underline;
    }
}

.conflict-table {
    margin-bottom: 3em;
    tbody tr td:first-of-type {
        font-weight: bold;
    }
}