.error-500 {
    background-image: url('../images/error-500-bg.png');
}

.message-500 {
    position: absolute;
    top: 50%;
    width: 600px;
    margin-top: -5em;
    p {
        font-size: $h2-font-size;
        font-weight: 300;
        margin: 0;
        a {
            color: inherit;
            text-decoration: underline;
        }
    }
}