body{
	background-color:#fff;
}
body h1{
	background-color:#e5e5e5;
	margin:0;
	font-size:1.5em;
	letter-spacing: 0.25px;
	padding:0.5em 0.5em 0.5em 1.75em;
	color:red;
	text-transform:none;
	font-weight:normal;
}
body h1 a:link, 
body h1 a:visited{
	color:#999;
}
body h2{
	color: #000;
	font-family: "Interstate", "Gotham A", "Gotham B", "Open Sans Regular", "Verdana", "Helvetica", "Arial";
	font-size: 1.2em;
	line-height: 28px;
}
body .nav-tabs{
	margin-top:0;
	padding-top:0;
	margin-bottom:0;
	padding-bottom:0;
}
body .nav-tabs>p {
	text-align: left;
}
#statistics{
	float:right;
	width:20%;
	padding:1em;
	text-align: center;
}

#statistics h2{
	font-family: "Gotham A", "Gotham B", "Open Sans Regular", "Verdana", "Helvetica", "Arial";
	font-size:1em;
	background-color:white;
	padding:0.5em;
	border-radius: 10px;
	border:1px solid white;
}
#statistics span{
	display:block;
	text-align:center;
	line-height:1.1em;
}
#statistics .big-number{
	font-weight:bold;
	color:black;
	text-align:center;
	font-size:3em;
	display:block;
	
}

.layout-breve{
	padding-top:0;
}
.current-tasks{
	margin-top:2em;
	padding:1em;
}
.current-tasks h2{
	padding-bottom:0;
	margin-bottom:0;
	font-weight:bold;
}
.current-tasks p{
	padding-top:0;
	margin-top:0;
}
.new-task{
	background-color:#eee;
	padding:1em;
	width:33%;
	margin-left:1em;
}
.new-task label{
	text-transform: none;
}
.language-edit{
	overflow:auto;
	width:70%;
	float:left;
}
.language-edit input{
	width:70%;
}
.language-edit textarea{
	height:300px;
}

.info{
	padding:0.5em;
}
.detailed-info{
	float:right;
	padding:0;
	margin:0 1.5em 0 0;
}
.detailed-info li{
	padding:0;
	margin:0;
	display:inline;
	list-style-type:none;
	list-style-image: none;
	background-image:none;
}

.badge-heading a{
	font-size:14px;
}
.badge-heading h2{
	margin:0;
}
.badge-heading h3{
	color:#bbb;
}
#statistics ul li{
	background-image:none;
	padding-bottom:0.5em;
}
#statistics ul li span{
	font-size:2em;
}
.signon{
	display:inline;
	position:absolute;
	top:1em;
	right:1em;
}
h1 span{
	text-transform: lowercase;
	font-size:0.5em;
	font-weight:normal;
	letter-spacing:0;
}
ul.slug{
	margin:0 1.25em;
	padding:0;
}
ul.slug label, 
ul.slug input{
	display:inline-block;
}
ul.slug .form-field input{
	width:40%;
}

h1 a:link,
h1 a:visited{
	color:#000;
}
/* 
File explorer icons
*/

.file{
	background:url(images/icons/png/16px/file2.png) no-repeat;
	padding-left:1.45em;
}
.folder{
	background:url(images/icons/png/16px/folder.png) no-repeat;
	padding-left:1.45em;
}
.image{
	background:url(images/icons/png/16px/image.png) no-repeat;
	padding-left:1.45em;
}
input[type="file"]{
	border:none;
	padding:1em 0 0 0;
}
.directory-crumb,
.directory-crumb a{
	font-weight:normal;
	text-transform: lowercase;
}
.directory-crumb{
	background:url(images/icons/png/16px/folder-open.png) no-repeat 0 10px;
	font-size:0.75em;
	padding-left:1.2em;
}
/* New buttons */



.button.button-preview{
	background-color:#A5D6D3;
	color:#000;
}

.button.button-edit{
	background-color:#8EB85B;
	color:fff;
	padding:0;
}

input[type=submit].button-delete,
button[type=submit].button-delete{
	background-color:transparent;
	color:red;
}

.button, 
.button[class*="button"]:link,
input[type="submit"],
.button-alternative[class*="button-alternative"]{
	height: 30px;
	padding: 0 24px;
	line-height: 28px;
}
.sketchy
{
    background-image: url('images/dots.png');
    background-repeat: repeat;
}

.sketchy, .sketchy * { font-family: 'Comic Sans', 'Comic Sans MS' !important }
