<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="http://style.codeforamerica.org/0/style/css/main.css">
        <link rel="stylesheet" href="http://style.codeforamerica.org/0/style/css/layout.css" media="all and (min-width: 40em)">
        <link href="http://style.codeforamerica.org/0/style/css/prism.css" rel="stylesheet" />
        <link href="style/main.css" rel="stylesheet" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <script src="https://login.persona.org/include.js"></script>
        <script type="text/javascript">
          var currentUser = {{email|tojson|safe}};
        </script>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
        <title>Bizarro overview</title>
    </head>
    <body>
      <h1>Bizarro editor</h1>
      <form>
        <div class="signon">
          {% if email %}
            <input type="button" id="signout" value="Sign out">
          {% else %}
            <input type="button" id="signin" value="Sign in">
          {% endif %}
        </div>
      </form>

    {% if email %}
    <div class="layout-breve">
        <div class="badge-heading badge-gov badge-teal">
            <h2>Overview</h2>
        </div>

        <table>
            <thead>
                <tr>
                    <th colspan="2">Your tasklist</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Task name</th>
                    <th>Action</th> 
                </tr>
                {% for item in items %}
                <tr>
                  <td><a href="/tree/{{item.path}}/edit/">{{item.name}}</a> ({{item.ahead|count}} ahead, {{item.behind|count}} behind)</td>
                  <td><a class="button-alternative" href="/tree/{{item.path}}/edit/" type="button">Make more changes</a> <button name="action" value="abandon" type="submit" class="button-prominent">Delete</button>
                </tr>
                {% endfor %}

                <tr>
                    <th>Create a new task</th>
                    <td>
                        <form action="/start" method="POST">
                          <input name="branch" placeholder="task name" type="text">
                          <button type="submit">Create</button>
                        </form>  
                    </td>
                </tr>
        </table>






      
    </div>
    {% endif %}


    <script type="text/javascript">
      var signinLink = document.getElementById('signin');
      if (signinLink) {
        signinLink.onclick = function() { navigator.id.request(); };
      }

      var signoutLink = document.getElementById('signout');
      if (signoutLink) {
        signoutLink.onclick = function() { navigator.id.logout(); };
      }
    </script>
</body>
</html>
