{% extends "base.html" %}
{% block title %}Tasks{% endblock %}
{% block content %}
      <h1>Bizarro editor <span><a href="/">tasks</a></span></h1>
      <form>
        <div class="signon">
          {% if email %}
            <input type="button" id="signout" value="Sign out">
          {% else %}
            <input type="button" id="signin" value="Sign in">
          {% endif %}
        </div>
      </form>

    {% if email %}
    <div class="layout-breve">
        <div class="badge-heading badge-gov badge-teal">
            <h2>Overview</h2>
        </div>

        <table>
            <thead>
                <tr>
                    <th colspan="4">Tasklist</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Task</th>
                    <th>Reviewer</th>
                    <th>Action</th> 
                </tr>
                {% for item in items %}
                <tr>
                  <td><a href="/tree/{{item.path}}/edit/">{{item.name}}</a> <!--({{item.ahead|count}} ahead, {{item.behind|count}} behind)--></td>
                  <td><em>Reviewers name</em></td>
                  <td>
                    <form action="/merge" method="POST">
                        <a class="button-alternative" href="/tree/{{item.path}}/edit/" type="button">Edit</a>
                        {% if item.needs_peer_review %}
                            <a href="mailto:?to=&amp;subject={{item.review_subject|urlencode}}&amp;body={{item.review_body|urlencode}}" class="button">Submit for review</a>
                        {% endif %}
                        <button name="action" value="abandon" type="submit" class="button-prominent">Delete</button>
                        <input type="hidden" name="branch" value="{{item.name}}">

                        {% if item.is_peer_reviewed %}
                            <button name="action" value="merge" type="submit" class="button">Publish</button>
                        {% endif %}
                    </form>
                  </td>
                </tr>
                {% endfor %}

                <tr>
                    <th>Create a new task</th>
                    <td colspan="3">
                        <form action="/start" method="POST">
                          <input name="branch" placeholder="task name" type="text">
                          <button type="submit">Create</button>
                        </form>  
                    </td>
                </tr>
        </table>






      
    </div>
    {% endif %}


    <script type="text/javascript">
      var signinLink = document.getElementById('signin');
      if (signinLink) {
        signinLink.onclick = function() { navigator.id.request(); };
      }

      var signoutLink = document.getElementById('signout');
      if (signoutLink) {
        signoutLink.onclick = function() { navigator.id.logout(); };
      }
    </script>
{% endblock %}

