<doctype: html>
<html>
<body>
    <ul>
      {% for path in list_paths %}
        <li>
        <form action="." method="POST">
        <a href="{{path}}">{{path}}</a>
        <input name="path" value="{{path}}" type="hidden">
        <input name="action" type="submit" value="Delete">
        </form>
        </li>
      {% endfor %}
    </ul>
    <form action="/merge" method="POST">
    <input name="branch" value="{{branch}}" type="hidden">
    <input name="action" type="submit" value="Merge">
    <input name="action" type="submit" value="Abandon">
    </form>
    <form action="." method="POST">
    <input name="path" placeholder="thing/stuff" type="text">
    <input name="action" type="submit" value="Add">
    </form>
    <form action="." method="POST" enctype="multipart/form-data">
    <input name="file" type="file">
    <input name="action" type="submit" value="Upload">
    </form>
</body>
</html>
