<doctype: html>
<html>
<head>
    <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="http://style.codeforamerica.org/0/style/css/main.css">
        <link rel="stylesheet" href="http://style.codeforamerica.org/0/style/css/layout.css" media="all and (min-width: 40em)">
        <link href="http://style.codeforamerica.org/0/style/css/prism.css" rel="stylesheet" />
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
        <title>Bizarro edit</title>

    <script type="text/javascript">
    
        function showEnglish()
        {
            document.getElementById('english').style.display = 'block';
            document.getElementById('spanish').style.display = 'none';
            document.getElementById('chinese').style.display = 'none';
            var d = document.getElementById("en-nav");
            d.className = d.className + " state-active";
            document.getElementById("es-nav").className = "nav-tab";
            document.getElementById("cn-nav").className = "nav-tab";
            return false;
        }

        function showSpanish()
        {
            document.getElementById('english').style.display = 'none';
            document.getElementById('spanish').style.display = 'block';
            document.getElementById('chinese').style.display = 'none';
            var d = document.getElementById("es-nav");
            d.className = d.className + " state-active";
            document.getElementById("en-nav").className = "nav-tab";
            document.getElementById("cn-nav").className = "nav-tab";
            return false;
        }

        function showChinese()
        {
            document.getElementById('english').style.display = 'none';
            document.getElementById('spanish').style.display = 'none';
            document.getElementById('chinese').style.display = 'block';
            var d = document.getElementById("cn-nav");
            d.className = d.className + " state-active";
            document.getElementById("en-nav").className = "nav-tab";
            document.getElementById("es-nav").className = "nav-tab";
            return false;
        }

    </script>
</head>
<body>
    <h1>Bizarro editor <a href="./">Up</a> [slug]</h1>

        <nav class="nav-tabs" role="navigation">
            <ul class="layout-semibreve layout-tight">
                <li id="en-nav" class="nav-tab state-active"><a class="nav-tab-link" href="edit.html" onclick="return showEnglish()">English</a></li>
                <li id="es-nav" class="nav-tab"><a class="nav-tab-link" href="edit-spanish.html" onclick="return showSpanish()">Spanish</a></li>
                <li id="cn-nav" class="nav-tab"><a class="nav-tab-link" href="#" onclick="return showChinese()">Chinese</a></li>
            </ul>
        </nav>


        <div class="layout-breve">
            <form action="/tree/{{safe_branch}}/save/{{path}}" method="POST">
                <div id="english" style="display: block" class="layout-minim layout-major">
                    <div class="badge-heading badge-gov badge-teal">
                        <h2><input name="title" value="{{title}}" type="text"></h2>
                    </div>
                    <ul class="list-form">
                        <li class="form-field">
                            <label for="invitee-name">Content</label>
                            <textarea id="en-body" class="textarea" name="body" type="text">{{body}}</textarea>
                        </li>                      
                    </ul>
                </div>
                <div id="spanish" style="display: none" class="layout-minim layout-major">
                    <div class="badge-heading badge-gov badge-teal">
                        <h2><input name="title_es" value="{{title_es}}" type="text"></h2>
                    </div> 
                    <ul class="list-form">
                        <li class="form-field">
                            <label for="en-body">Content</label>
                            <textarea id="en-body" class="textarea" name="body_es" type="text">{{body_es}}</textarea>
                        </li>
                    </ul> 
                </div>
                <div id="chinese" style="display: none" class="layout-minim layout-major">
                    <div class="badge-heading badge-gov badge-teal">
                        <h2><input name="title_cn" value="{{title_cn}}" type="text"></h2>
                    </div>
                        <ul class="list-form">
                            <li class="form-field">
                                <label for="cn-body">Content</label>
                                <textarea id="cn-body" class="textarea" name="body_cn" type="text">{{body_cn}}</textarea>
                            </li>             
                        </ul> 
                </div>
                <div class="button-group" style="clear:both">
                    <input name="layout" value="{{layout}}" type="hidden" />
                    <input name="hexsha" value="{{hexsha}}" type="hidden" />
                    <input type="submit" class="primary-button" value="Save"/>
                    <input type="button" class="button" value="Send for review" disabled/>
                    <input type="button" class="button" value="Publish" disabled/>
                    <a class="button button-unstyled" href="#">Archive</a>
                </div>
            </form>
            <!-- dummy right hand section -->
            <div class="layout-minim layout-minor" id="statistics">
                <div class="slab-blue info">
                        <h2><span class="big-number">247</span> <span>people viewed this information this week</span></h2>
                        <ul>
                            <li><span>65%</span> came from <a href="">Vehicle licences</a></li>
                            <li><span>45%</span> continued on to <a href="">Home page</a></li>
                        </ul>
                        <p><a href="">Read more about your users</a></p>
                    </div>
                </div>
                
            </div>
        </div>            
        
        

    

 
    

    </form>
</body>
</html>
