<doctype: html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="http://style.codeforamerica.org/0/style/css/main.css">
        <link rel="stylesheet" href="http://style.codeforamerica.org/0/style/css/layout.css" media="all and (min-width: 40em)">
        <link href="http://style.codeforamerica.org/0/style/css/prism.css" rel="stylesheet" />
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
        <title>Bizarro edit</title>
</head>
<body>
    <ul>
      {% for path in list_paths %}
        <li>
        <form action="." method="POST">
        <a href="{{path}}">{{path}}</a>
        <input name="path" value="{{path}}" type="hidden">
        <input name="action" type="submit" value="Delete">
        </form>
        </li>
      {% endfor %}
    </ul>
    <form action="/merge" method="POST">
    <input name="branch" value="{{branch}}" type="hidden">
    <input name="action" type="submit" value="Merge">
    <input name="action" type="submit" value="Abandon">
    </form>
    <form action="." method="POST">
    <input name="path" placeholder="thing/stuff" type="text">
    <input name="action" type="submit" value="Add">
    </form>
    <form action="." method="POST" enctype="multipart/form-data">
    <input name="file" type="file">
    <input name="action" type="submit" value="Upload">
    </form>
</body>
</html>
