<doctype: html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="http://style.codeforamerica.org/0/style/css/main.css">
        <link rel="stylesheet" href="http://style.codeforamerica.org/0/style/css/layout.css" media="all and (min-width: 40em)">
        <link href="http://style.codeforamerica.org/0/style/css/prism.css" rel="stylesheet" />
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
        <title>Bizarro edit</title>
</head>
<body>
    <h1>Bizarro editor</h1>


    <div class="layout-breve">
        <div class="badge-heading badge-gov badge-teal">
            <h2>Task work</h2>
            <h3>{{branch}}</h3>
        </div>

        <table>
            <thead>
                <tr>
                    <th colspan="4">Your current changes to this task</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Status</th>
                    <th>Topic</th> 
                    <th>Reviewer</th>
                    <th>Options</th>
                </tr>
                {% for path in list_paths %}
                    <form action="." method="POST">
                        <tr>
                            <td>Changed</td>
                            <td><a href="{{path}}">{{path}}</a></td>
                            <td>&nbsp;</td>
                            <td><a href="{{path}}" class="button-alternative">Edit</a> <input name="action" type="submit" value="Delete" class="button-prominent" /> </td>
                        </tr>
                        <input name="path" value="{{path}}" type="hidden">
                    </form>
                {% endfor %}  
                <tr>
                    <th>Add new page</th>
                    <td colspan="3">
                        <form action="." method="POST">
                            <input name="path" placeholder="thing/stuff" type="text" />
                            <input name="action" type="submit" value="Add" />
                        </form>
                    </td>
                </tr>
                <tr>
                    <th>Add a new file</th>
                    <td colspan="3">
                        <form action="." method="POST" enctype="multipart/form-data" />
                            <input name="file" type="file" />
                            <input name="action" type="submit" value="Upload" />
                        </form>
                    </td>
                </tr>
                <tr>
                    <th colspan="4">Actions</th>
                </tr>
                <tr>
                    <td colspan="4">
                        <form action="/merge" method="POST">
                            <input name="branch" value="{{branch}}" type="hidden" />
                            <a class="button-alternative" href="">Submit for review</a>
                            <button name="action" value="merge" type="submit" class="button-alternative">Publish (if review OK)</button>
                            <a href="/" class="button-alternative">Create new task</a>
                            <button name="action" value="abandon" type="submit" class="button-prominent">Delete task</button>
                        </form>    
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <ul>
      
    </ul>
    
</body>
</html>
