// This mixin stretches content to fill col__flex containers
@mixin stretch-content() {
	@include display(flex);
	@include align-items(stretch);
	.lt-ie10 & {
		display: block;
	}
}

.row {
	@include clearfix();
	@include flex-shrink(0);
	width: 100%;
	position: relative;
	padding: {
		top: 1em;
		bottom: 1em;
		left: $site-margins;
		right: $site-margins;
	}

	.lt-ie10 & {
		display: block;
	}
}

.row__left {
	float: left;
}

.row__right {
	float: right;
}

.row__center {
	margin: {
		left: auto;
		right: auto;
	}
}

.col {
	@include display(flex);
	@include flex-direction(column);
	@include justify-content(stretch);
	.lt-ie10 & {
		display: block;
	}
}

.col__item {
	@include clearfix();
	@include flex-shrink(0);

}

.col__flex {
	@include flex(1);
}