.activity-log-item {
	@include clearfix();
	position: relative;
	padding-left: 2.5em;
	padding-bottom: 2em;
	font-weight: 400;
	border-left: 1px dotted $color-grey-300;
	margin-left: 1em;
	&:before {
		content: '';
		position: absolute;
		display: block;
		left: -1em;
		height: 2em;
		width: 2em;
		line-height: 2em;
		background-color: #fff;
		font-family: 'FontAwesome';
		font-size: 14px;
		text-align: center;
		margin-top: -.2em;
		color: $color-grey-600;
	}
	&:last-child {
		border-left: 0;
	}
	p {
		font-size: $base-font-size; 
	}
}

.activity-log-item--info {
	&:before {
		content: '\f129';
	}
}

.activity-log-item--edit {
	&:before {
		content: '\f040';
	}
}

.activity-log-item--comment {
	&:before {
		line-height: 2.25em; //fixes vertical alignment of comment icon for visual balance.
		content: '\f075';
	}
}

.activity-log-item__content {
	p {
		margin: 0;
	}
}

.activity-log-item__datetime {
	margin-top: .3em;
	font-size: $small-font-size;
	color: $color-grey-600;
}