.activity-bar {
	background-color: #fff;
	box-shadow: $box-shadow-1;
	position: relative;
	z-index: 2;

	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 4px;
		z-index: 2;
	}

	&--unreviewed-edits:before {
		background-color: $color-grey-600;
	}
	&--feedback-requested:before {
		background-color: $color-grey-600;
	}
	&--edits-endorsed:before {
		background-color: $color-grey-600;
	}
	&--changes-published:before {
		background-color: $color-grey-600;
	}
}


.activity-bar__title {
	font-weight: 600;
	color: $color-grey-900;
	margin: 0;
	font-size: $h4-font-size;
}

.activity-bar__subtitle {
	font-weight: 300;
}

.activity-bar__status {
	border: 1px solid $color-grey-300;
	border-radius: $border-radius;
	padding: .1em .6em;
	color: $color-grey-500;
}

.activity-bar__button {
	width: 100%;
	margin-bottom: 2em;
	text-align: center;
}