.breadcrumb {
    @include clearfix();
    float: left;
    position: relative;
    top: .2em;
}

.breadcrumb__item {
    display: block;
    float: left;
    color: #fff;
    text-decoration: none;
    margin-left: -1px;
    margin-top: -.2em;
    margin-bottom: -.2em;
    padding: .3em .7em;
    margin-right: .5em;
    font-weight: 400;
}