.button {
	@include transition(all ease-out .1s);
	display: inline-block;
	text-decoration: none;
	background-color: $color-grey-300;
	border: 1px solid $color-grey-300;
	color: $color-grey-800;
	font-size: 12px;
	font-weight: 300;
	border-radius: $border-radius;
	padding: .3em .5em;

	&:hover {
		border-color: $color-grey-400;
		background-color: $color-grey-400;
	}

	&:active, &.is-selected {
		border-color: $color-grey-600;
		background-color: $color-grey-600;
		color: $color-grey-100;
	}
}

.button--blue {
	border: 1px solid $color-blue-400;
	background-color: $color-blue-400;
	color: #fff;
	&:hover {
		border-color: $color-blue-500;
		background-color: $color-blue-500;
	}
	&:active, &.is-selected {
		border-color: $color-blue-700;
		background-color: $color-blue-700;
	}
}

.button--green {
	border: 1px solid $color-green-400;
	background-color: $color-green-400;
	color: #fff;
	&:hover {
		border-color: $color-green-500;
		background-color: $color-green-500;
	}
	&:active, &.is-selected {
		border-color: $color-green-700;
		background-color: $color-green-700;
	}
}

.button--red {
	border: 1px solid $color-red-400;
	background-color: $color-red-400;
	color: #fff;
	&:hover {
		border-color: $color-red-500;
		background-color: $color-red-500;
	}
	&:active, &.is-selected {
		border-color: $color-red-700;
		background-color: $color-red-700;
	}
}

.button--outline {
	@include transition(all ease-out .2s);
	background: transparent;
	border: 1px solid $color-grey-300;
	color: $color-grey-700;
	&:hover {
		border-color: $color-grey-400;
		background-color: $color-grey-400;
		color: $color-grey-800;
	}
	&:active, &.is-selected {
		border-color: $color-grey-500;
		background-color: $color-grey-500;
	}
}

.button--large {
	font-size: $h4-font-size;
}