.comment {
	@include clearfix();
	background-color: $color-grey-50;
	padding: 1em;
	margin-bottom: 1em;
	border: 1px solid $color-grey-300;
}

.comment__note {
	font-size: $base-font-size;
	color: #000;
	margin-bottom: 1em;
	.fa-info-circle {
		margin-right: .5em;
	}
}

.comment__author {
	color: $color-grey-600;
	border-bottom: 1px solid $color-grey-200;
	padding-bottom: 1em;
	margin-bottom: 1em;
	font-size: $small-font-size;
}

.comment__body {
	font-size: $text-font-size;
	font-weight: normal;
}

.comment__datetime {
	color: $color-grey-600;
	font-size: $small-font-size;
	margin-top: 1em;
}

.comment__input {
	border: 1px solid $color-grey-200;
	height: 70px;
	padding: .5em;
}

.comment__actions {
	margin-top: 1em;
	padding: 0;
}