.comment {
	background-color: #fff;
	border-radius: $border-radius;
	padding: 1em;
	box-shadow: 0 0 3px rgba(0,0,0,.15);
	margin-bottom: 1em;
}

.comment--new {
	margin-top: 3em;
	background-color: $color-grey-50;
	.comment__author {
		color: $color-grey-600;
	}
}

.comment__author {
	border-bottom: 1px solid $color-grey-200;
	padding-bottom: 1em;
	margin-bottom: 1em;
}

.comment__body {
	font-size: $h4-font-size;
	font-weight: normal;
}

.comment__datetime {
	font-size: $small-font-size;
	margin-top: 1em;
}

.comment__input {
	border: 1px solid $color-grey-200;
	height: 70px;
	padding: .5em;
}

.comment__actions {
	margin-top: 1em;
}