.dropdown {
	position: relative;
	text-align: left;
	&:after {
		display: inline-block;
		margin-left: .5em;
		font-family: "FontAwesome";
		content: '\f107';
	}
	&:hover {
		.dropdown__popup {
			display: block;
			opacity: 1;
			min-width: 380px;
		}
	}	
}

.dropdown__popup {
	@include transition(opacity .2s ease-out);
	@include clearfix();
	position: absolute;
	background-color: #fff;
	box-shadow: $box-shadow-2;
	z-index: 2;
	padding: 1em 2em;
	display: none;
	opacity: 0;
	top: 100%;
	left: 0;
	right: 0;

	.lt-ie10 & {
		border: 1px solid $color-grey-300;
	}

	> li {
		margin: .5em 0;
	}
}

.dropdown__popup--right {
	right: 0;
	left: auto;
	&:before {
		left: auto;
		right: 2em;
	}
}