.dropdown {
	position: relative;
	text-align: left;
	&:hover {
		.dropdown__popup {
			display: block;
			opacity: 1;
		}
	}	
}

.dropdown__popup {
	@include transition(opacity .2s ease-out);
	@include clearfix();
	position: absolute;
	background-color: #fff;
	box-shadow: 0 0 5px rgba(#000, .2);
	color: $color-grey-700;
	z-index: 2;
	padding: 1em;
	display: none;
	opacity: 0;
	border-radius: $border-radius;
	margin-top: 1em;
	top: 100%;

	// Provides an invisible hover area so popup stays visible
	// when cursor is between link and popup.
	&:after {
		content: '';
		display: block;
		position: absolute;
		top: -1em;
		left: 0;
		right: 0;
		height: 1em;
		background-color: transparent;
	}
	&:before {
		@include triangle(top, #fff, 5px);
		position: absolute;
		left: 1em;
		bottom: 100%;
	}
	> li {
		margin: .5em 0;
	}
}

.dropdown__popup--right {
	right: 0;
	&:before {
		left: auto;
		right: 1em;
	}
}