.flash-holder {
	padding: 0;
	margin: 0;
}

.flashes {
	margin: 0;
}

.flash {
	padding: 1em $site-margins;
	font-size: $text-font-size;
	color: #fff;
	font-weight: 400;
	&:before {
		content: '';
		font-family: "FontAwesome";
		display: inline-block;
		margin-right: 1em;
	}
}

.flash--notice {
	background-color: $color-green-400;
	&:before {
		content: '\f05a';
	}
}

.flash--warning {
	background-color: $color-orange-400;

	&:before {
		content: '\f06a';
	}
}

.flash--error {
	background-color: $color-red-400;

	&:before {
		content: '\f057';
	}
}
