// Block form elements
input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="search"],
input[type="file"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="time"],
input[type="week"],
textarea  {
	color: #000; // standardize on firefox
	box-sizing: border-box;
	-webkit-appearance: none;
	border: 1px solid $color-grey-300;
	border-radius: $border-radius;
	display: block;
	width: 100%;
	outline: none;
	font-size: $text-font-size;
	padding: 0 .7em;
	height: 2em;
	line-height: $base-line-height;
	margin-bottom: 1em;
}

label {
	@include user-select(none);
	font-size: $base-font-size;
	font-weight: 600;
	display: block;
	margin-bottom: .5em;
	color: $color-grey-700;
}

select {
	color: #000; // standardize on firefox
	box-sizing: border-box;
	font-size: $base-font-size;
	padding: 0 .7em;
	height: 2em;	
	width: 100%;
	border: 1px solid $color-grey-300;
	border-radius: $border-radius;
}

textarea {
	height: auto;
}

// Inline form elements
input[type="checkbox"],
input[type="radio"],
input[type="checkbox"] {
	margin: {
		top: .5em;
		bottom: .5em;
		right: .5em;
	}
}

// Buttons
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="image"],
button[type="button"],
button[type="submit"],
button[type="reset"] {
	-webkit-appearance: none;
	outline: none;
}

input[type="submit"]:disabled {
	color: $color-grey-700;
	&:hover {
		background-color: $color-grey-300;
	}
}

.selection-box {
	text-align: left;
	margin-right: 1em;
	select {
		border: 1px solid #ddd;
		font-family: $font-sans;
		font-size: 14px;
		font-weight: 300;
	}
}

.form-one-line {
	@include display(flex);
	.lt-ie10 & {
		@include clearfix();
	}
	.form-one-line__input {
		@include flex(1);

		border-top-right-radius: 0;
		border-bottom-right-radius: 0;

		.lt-ie10 & {
			float: left;
			width: 75%;
		}
	}

	.form-one-line__submit {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		margin-left: -1px;
		.lt-ie10 & {
			float: left;
			width: 25%;
		}
	}
}

