.global-header {
	@include main-padding;
	background-color: $color-brand-blue;
	color: #fff;
	padding: {
		top: 0;
		bottom: 0;
		right: 0;
	}
	.breadcrumb {
		margin-top: .75em;
	}
}

.global-header__title {
	@include retina-image('../images/chime_logo', 100% auto);
	background-repeat: no-repeat;
	float: left;
	font-size: 1.2rem;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	margin-right: 2em;
	margin-top: .9em;
	text-indent: -9999px;
	width: 55px;

}

.global-header__link.toolbar__item {
	text-decoration: none;
	color: #fff;
	font-weight: 400;
	padding: 1em 2em;
	border-left: 1px solid shade($color-brand-blue, 10%);
	margin: 0;
	line-height: 1em;
	&:hover {
		color: #fff;
		text-decoration: underline;
		background-color: shade($color-brand-blue, 10%);
	}
}

.activity-dropdown {
	background-color: tint($color-brand-blue, 20%);
}

.activity-dropdown__link {
	color: #fff;
	&:hover {
		color: #fff;
	}
}

.activity-dropdown__subtitle {
	margin: 0em;
}

.activity-dropdown__title {
	font-weight: 600;
	padding-bottom: 1em;
	margin-top: .2em;
	margin-bottom: 1em;
	border-bottom: 1px solid $color-grey-300;
	color: $color-grey-900;
}

.activity-dropdown__button {
	width: 100%;
	margin-bottom: 2em;
	text-align: center;
}