.global-header {
	@include flex-shrink(0);
	background-color: $color-blue-600;
	color: $color-blue-100;
	.global-header--title {
		@include allcaps();
		font-size: 1.2rem;
		color: #fff;
		font-weight: bold;
		text-decoration: none;
		margin-right: 2em;
	}
	.toolbar--right {
		.toolbar__item {
			color: $color-grey-50;
			text-decoration: none;
			margin-left: 2em;
			&:hover {
				text-decoration: underline;
			}
		}
	}

}