.global-header {
	@include main-padding;
	background-color: $color-blue-600;
	color: $color-blue-100;
	padding: {
		top: 0;
		bottom: 0;
		right: 0;
	}
	.breadcrumb {
		margin-top: .75em;
	}
}

.global-header__title {
	@include allcaps();
	float: left;
	font-size: 1.2rem;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	margin-right: 2em;
	margin-top: .7em;
}

.global-header__link {
	text-decoration: none;
	color: $color-blue-100;
	padding: 1em 2em;
	border-left: 1px solid $color-blue-450;
	margin: 0;
	&:hover {
		color: #fff;
		text-decoration: underline;
		background-color: $color-blue-450;
	}
}

.activity-dropdown__link {
	color: $color-blue-100;
	&:hover {
		color: #fff;
	}
}

.activity-dropdown__subtitle {
	margin: 0em;
}

.activity-dropdown__title {
	font-weight: 600;
	padding-bottom: 1em;
	margin-top: .2em;
	margin-bottom: 1em;
	border-bottom: 1px solid $color-grey-300;
	color: $color-grey-900;
}

.activity-dropdown__button {
	width: 100%;
	margin-bottom: 2em;
	text-align: center;
}