.toolbar {
	@include clearfix();
}

.toolbar--left {
	.toolbar__item {
		margin-right: 1em;
	}
}

.toolbar--right {
	float: right;
	.toolbar__item {
		margin-left: 1em;
	}
}

.toolbar__item {
	float: left;
}